
.image-gallery {
  	display: flex;
    flex-flow: column wrap;
    height: 600px;
    margin: 0 auto;

}
.image-gallery section {
    display: none;
    margin-left: 20px;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}
.image-gallery section img {
    height: auto;
    width: 100%;
	max-width:720px;
}

.image-gallery input {
  display: none;
}

.image-gallery label {
    border: 1px solid #3194ee;
    margin: 0 0 10px;
    padding: 5px;
    text-align: center;
    width: 20%;
}
.image-gallery label:hover {
  cursor: pointer;
}

.image-gallery label img {
    height: auto;
    width: 100%;
}
.image-gallery input:checked + label {
  border: 1px solid #004481;
  padding: 5px;
}

.image-gallery #tab1:checked ~ #content1,
.image-gallery #tab2:checked ~ #content2,
.image-gallery #tab3:checked ~ #content3 {
  display: block;
}

@media only screen and (min-width:240px) and (max-width: 768px){

}
