---
layout: fullpage
title: About Ursula Graber
lang: es
ref: about
---
<div class="ultra-container">
<div class="super-container">
<div class="about-main-container">
	<div>
		<h2>Hola, mi nombre es Úrsula.<br>
			 Soy bailarina, coreógrafa y pedagoga de danza.</h2>
		<p>
			Como bailarina contemporánea y coreógrafa, creo espectáculos de danza
			y actúo en el escenario o en otros espacios – tanto en mis obras como
			para otros coreógrafos. <br>
		</p>
		<p>
			También imparto talleres de improvisación de danza. Mis talleres se
			dirigen a personas a las que les gusta jugar con el movimiento y
			que quieren aprender o desarrollar las habilidades de la improvisación
			de danza.
		</p>
	</div>
	<div class="superpad">
		<!-- {% include iconset.html icon="down-arrow" %} -->
		<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt=""
				class="inline-icon" />Saber-ne més</a>
	</div>
</div>
<div class="top-image-container">
	<img src="https://ursulagraber.files.wordpress.com/2021/12/woman-hood-c-clemens-nestroy_small.jpg"
		alt="Ursula Graber">
</div>
</div>
<div class="about-bottom-container">
<div class="bottom-section">
	<div class="float-left">
		<img src="https://ursulagraber.files.wordpress.com/2021/12/mallorca-28_3000-2000.jpg" class="side-image"
			alt="Ursula Graber">
	</div>

<div class="bottom-text" id="bottom-text">
	<h2>
		Sobre Ursula
	</h2>
	<div class="justify" id="bottom-text-content">
		<br>
		<p>
			Ursula estudió Danza Contemporánea centrada en la Creación en la
			Universidad Anton Bruckner de Linz (AT) y en la Haute école des
			artes de la scène La Manufacture de Lausana (CH).

		</p>
		<p>
			Ha trabajado con artistas como Thomas Hauert, Fabrice Mazliah, Jeremy Nelson,
			Martin Kilvady, David Zambrano, Mal Pelo, Àngels Margarit y Michael
			Turinsky entre otros. Sus obras se han visto en Suiza, París (Centro
			Nacional de la Danza - CND), Graz, Linz, Viena y Girona, en el festival
			spleen*trieb (Graz 2020), en el festival newsOFFstyria (Graz 2021)
			y en el Centro Cívico Ter (Girona 2021). En 2022 actuará en el festival
			Viertelfestival NÖ (AT).
		</p>
		<p>
			En 2019 recibió el Startstipendium, una beca de música y artes escénicas
			del Ministerio Federal Austríaco para la UE, el Arte y la Cultura.
			Vive y trabaja entre Graz (Austria) y Gerona.

		</p>
		<p>
			En los espectáculos de danza trata temas importantes en su vida como
			el feminismo, el lenguaje y la identidad. Estos contextos son observados
			con ojos de investigadora sociológica, y transformados por medio del
			humor, la sensualidad y una danza de mucha exigencia física,
			en espectáculos de danza.
		</p>
		<p>
			<i>#performance de danza #Danza contemporánea #feminismo #humor
				#coraje #honesto #personal #Sara Ahmed #dancemaker #physical #sensual
</i>
		</p>
	</div>
</div>
</div>
</div>
</div>
<div class="dark-color">
<div class="ultra-container">
<div class="bottom-section">
	<div class="bottom-text justify">
		<br>
		<a
			href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4"
			>>Retrato de artista de Ursula Graber (texto, 2019)</a>
		<br>
		<a href="https://tanzland.at/new-blog/2021/4/04/ursula-graber"
			>>Entrevista en el tanztalk (Audio, 2020)

		<br>

	<iframe src="https://cba.fro.at/495235/embed?audio&q=1&waveform=false" height="80px" style="border:none;"></iframe>
	<br>
	<a href="{{ site.url }}/docs/CV_de_UrsulaGraber.pdf">>CV auf Deutsch</a>
	<br>
	<a href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>
	<br>
	<a href="{{ site.url }}/docs/CV_cat_UrsulaGraber.pdf">>CV en català</a>
	<br>
	<br>
	</div>
	</div>
	</div>
</div>
<div class="ultra-container">
<div class="bottom-section">
<div class="bottom-text justify">
	<p class="quote on-white">
		<q>
			...Este es también su lema en el escenario: sumergirse en
			la aventura y experimentar.

		</q>
		(Verena Schaupp, Kleine Zeitung)
	</p>
	<p class="quote on-white">
		<q>
			Sus obras brillan con una naturalidad refrescante, las habilidades
			de baile, incluida una técnica de danza perfecta, están excelentemente
			dominadas.
		</q>
	</p>
	<p class="quote on-white">
		<q>
			... Rara vez me he encontrado con tanta despreocupación y curiosidad
			lúdica en una bailarina. Por supuesto, esta alegría y deseo están
			en fuerte contraste con el contenido al que se dirige con valentía
			en sus obras y actuaciones escénicas.

		</q>
	</p>
	<p class="quote on-white">
		<q>
		Y todo esto con un guiño y un fuerte sentido del humor loco, que sabe
			utilizar magistralmente.

		</q>
		(Mona May, artista, autora, creadora de teatro y danza)
	</p>
	<br>
	<p>
		<b>Colaboraciones:</b>
		<br>
		Bàrbara Raubert (Dramaturgia, Barcelona)
		<br>
		Ana Vivero (Vestuario, Barcelona)
		<br>
		Karin Scaria-Braunstein (Socióloga, Graz)
		<br>
		Pol Monsó Purtí (Artista visual, Girona)
		<br>
		Hanna Rohn (Dramaturgia, Graz)
		<br>
		Lise Lendais (Acompañamiento artístico, Viena)
		<br>
		Koko la Douce (Acompañamiento artístico, Berlín)
		<br>
		Tom Bergner (Técnico de iluminación y sonid)
		<br>
		Lisa Raschhofer (Técnica de iluminación y sonido)
		<br>
		Peter Spall (Técnico de iluminación y sonid)
		<br>
		Fabian Czernovsky (Cámara, montaje)
		<br>
		Berta Monsó Purtí (Montaje)
		<br>
		Edi Haberl, Clemens Nestroy, Neus Solà (Fotografía)
		<br>
		Diego Tamame Jiménez (Compositor)
		<br>
		Alpine Dweller (Grupo de música)
		<br>
		Eulàlia Purtí (Actriz)
		<br>
	</p>
	<p>
		<b>Con el apoyo de:</b><br>
		Ciudad de Graz, Estado de Estiria, Gobierno Federal de Austria,
		Bildrecht GmbH, Theaterland Steiermark, VertelFestival NÖ,
		Centro cívico Ter, Das andere Theater Graz, laut!, spleen*trieb

	</p>
</div>
</div>
</div>

{% include contact-form.html message="Escríbeme, ¡me encantará tener noticias tuyas!" %}
