---
layout: fullpage
title: About Ursula Graber
---
<div class="ultra-container">
	<div class="super-container">
		<div class="about-main-container">
			<div>
				<h2>Hi, ich bin Ursula. Ich kreiere Tanzperformances und
						unterrichte Tanzimprovisation für Bewegungs-Lover.</h2>

				<p>


				<br>

							"Eine wahre Puristin des Zeitgenössischen Tanzes und
							mit einer unbändigen Freude am Experimentieren und Erforschen
							ausgestattet. Ihre Performances sprühen vor erfrischender
							Natürlichkeit, die Tanz-Skills, samt einer perfekten Tanztechnik werden
							grandios beherrscht." <i><a href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4">Mona May, Autorin & Regisseurin</a></i>


			</div>
			<div class="superpad">
				<!-- {% include iconset.html icon="down-arrow" %} -->
				<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt="" class="inline-icon" /> Mehr dazu</a>
			</div>
		</div>
		<div class="top-image-container">
			<img src="https://ursulagraber.files.wordpress.com/2020/04/ursu_boden.jpg" alt="Ursula Graber">
		</div>
	</div>
	<div class="about-bottom-container">
		<div class="bottom-section">
			<div class="float-left">
				<img src="https://ursulagraber.files.wordpress.com/2020/04/ursu_haende.jpg" class="side-image" alt="Ursula Graber">
			</div>

			<div class="bottom-text" id="bottom-text">
				<h2>
					Mehr Infos über Ursula:
				</h2>
				<div class="justify" id="bottom-text-content">
					<p>
						<br>
						Die Grazerin Ursula Graber ist eine faszinierende zeitgenössische Tänzerin und
						Choreografin, deren Arbeiten immer Themen behandeln, die aus ihrem Herzen entspringen.
						Graber kreiert beeindruckende Tanzperformances und erhielt erst
						kürzlich das Startstipendium der Republik Österreich für außergewöhnliche Künstler*innen.
						Sie studierte an der renommierten Tanzuniversität <i>La Manufacture</i>
						in Lausanne (CH) sowie an der Anton Bruckner Uni Linz.
						Aktuell lebt und arbeitet sie in Graz und Girona (CAT/ES).
						<br>
						<p>
						In Grabers Tanzperformances geht es um gesellschaftskritische Themen wie Feminismus,
						die Rolle der Frau, Sprachen und Identität, Clownerie, Natur, Trance und
						Gemeinschaft. Mit viel Humor und körperlich intensivem Tanz verarbeitet
						sie diese Themen zu atemberaubenden Performances. Ihre Arbeiten wurden
						national und international gezeigt.
						<br>
						<p>
						2018 durfte Graber als Tänzerin für den exzellenten schweizer Choreografen
						Fabrice Mazliah durch die ganze Schweiz touren.
						<br>
						2020 feierte ihre beeindruckende Tanzperformance
						<a class="a-on-white" href="http://www.ursulagraber.com/solo/2020/06/11/Starlight/">Starlight 'Killjoy' Coquelicot</a>
						Premiere,	die vom Publikum mit nicht-endendem Applaus aufgenommen wurde und herausragende
						Kritiken erhielt.
						<br>
						<p>
						Vom Covid-Virus lässt sich Ursula Graber nicht entmutigen, im Gegenteil:
						Mitte März 2021 wird sie eine neue, außergewöhnliche Arbeit
						präsentieren, das Solo
						<a class="a-on-white href="http://www.ursulagraber.com/news/2020/10/22/WOMANIST/">WOMANIST (Ànequist)</a>.
						Mit ihrem überraschend anderem Stil spricht sie darin über starke und mächtige Frauenfiguren,
						um die Präsenz guter Vorbilder zu stärken. Lassen Sie sich dieses
						hochwertige, künstlerische Tanzwerk nicht entgehen!    </p>



						 <a class="a-on-white" href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4">>Künstler-Portrait über Ursula Graber</a> <br>


				<a class="a-on-white" href="{{ site.url }}/docs/CV_de_UrsulaGraber.pdf">>CV auf Deutsch</a>

		<br>

				<a class="a-on-white" href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>

				<br>

						<a class="a-on-white" href="{{ site.url }}/docs/CV_cat_UrsulaGraber.pdf">>CV en català</a>


				</div>
			</div>
		</div>
	</div>
</div>

{% include contact-form.html message="Schreib mir, ich freu mich!" %}
