---
layout: fullpage
title: About Ursula Graber
lang: en
ref: about
---
<div class="ultra-container">
<div class="super-container">
<div class="about-main-container">
	<div>
		<h2>Welcome!<br>
			</h2>
		<p>
			My name is Ursula Graber.
		</p>
		<p>
			Dancer - Choreographer - Dance educator
		</p>
	</div>
	<div class="superpad">
		<!-- {% include iconset.html icon="down-arrow" %} -->
		<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt=""
				class="inline-icon" />More info...</a>
	</div>
</div>
<div class="top-image-container">
	<img src="https://ursulagraber.files.wordpress.com/2021/12/woman-hood-c-clemens-nestroy_small.jpg"
		alt="Ursula Graber">
</div>
</div>
<div class="about-bottom-container">
<div class="bottom-section">
	<div class="float-left">
		<img src="https://ursulagraber.files.wordpress.com/2021/12/mallorca-28_3000-2000.jpg" class="side-image"
			alt="Ursula Graber">
	</div>
	<div class="bottom-text" id="bottom-text">
		<h2>
			About Ursula
		</h2>
		<div class="justify" id="bottom-text-content">
			<br>
			<p>
				Ursula studied contemporary stage dance and dance pedagogy at the <i>Anton Bruckner
				University</i> Linz (AT) and contemporary dance with a focus on creation at the University
				of Performing Arts <i>La Manufacture</i> in Lausanne (CH).
			</p>
			<p>
				As part of her training, she worked with artists such as Thomas Hauert,
				Fabrice Mazliah, Jeremy Nelson, Martin Kilvady, David Zambrano,
				Mal Pelo, Àngels Margarit, Michael Turinsky and Kirstie Simson, among others.
				Ursula performed in Switzerland at the STEPS Festival, in Paris,
				Graz, Linz, Vienna and Girona.
			</p>
			<p>
				2019, she received the scholarship <i>Startstipendium</i> for
				performing arts from the Austrian federal ministry for arts and culture.
				Today, she lives and works in Graz (AT) and is also active in Catalonia (ES).
			</p>
			<p>
				In her dance performances she deals with topics such as feminism, language and
				identity. She always looks at her creations from a sociological point of view and
				they are characterized by humor, sensuality and a strong physicality.
			</p>
			<p>
				Her work has been invited to the festivals spleen*trieb, newsOFFstyria and the
				Center Cívic Ter (Girona 2021). In 2022 she has been invited to the <a class="a-on-white" href="https://www.viertelfestival-noe.at/veranstaltung/woman-hood/">Viertelfestival
					NÖ</a> and the <a class="a-on-white" href="https://www.homotopia.net/Festival%20/woman-hood/"
				>Homotopia Festival</a> in Liverpool. Also in 2022 she receives the <a class="a-on-white" href="https://www.politik.steiermark.at/cms/beitrag/12890727/2494255/">Morgenstern prize</a>
				 of the State of Styria (AT). She works collectively with different artists to realize her projects.
			</p>
			<p>
				#dance performance #contemporary dance #feminism #humor #brave #honest
				#personal #Sara Ahmed #dancemaker #physical #sensual
			</p>
		</div>
	</div>
</div>
</div>
</div>
<div class="dark-color">
<div class="ultra-container">
<div class="bottom-section">
	<div class="bottom-text justify">
		<br>
		<a
			href="https://www.kultur.steiermark.at/cms/beitrag/12922277/166298072/">>Artist
			portrait by Wolfgang Künhelt in the ARTfaces gallery of the Styria State</a>
		(text in german, 2023)
		<br>
		<br>
		<a href="https://www.kultur.steiermark.at/cms/beitrag/12849252/166628854/">>Podcast KUNSTFUNKEN. Interview with Ursula Graber. In german. 16.01.2023 (#19)</a>
		<br>
		<br>
		<a href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>
		<br>
				<br>
	</div>
	</div>
	</div>
</div>
<div class="ultra-container">
<div class="bottom-section">
<div class="bottom-text justify">
	<p class="quote on-white">
		<q>...That's also her motto on stage: plunge into
			adventure and experiment.
		</q>
		(Verena Schaupp, Kleine Zeitung)
	</p>
	<p class="quote on-white">
		<q>
			"Her performances sparkle with refreshing naturalness, the dance skills,
			including a perfect dance technique, are superbly mastered."<br>
		</q>
	</p>
	<p class="quote on-white">
		<q>
			“... I have seldom encountered so much playful carefreeness and curiosity in
			a dancer. Of course, this joy and desire are in stark contrast to the content
			to which she boldly and courageously turns in her stage works and
			performances.”
		</q>
	</p>
	<p class="quote on-white">
		<q>
			"And all this with a wink and a strong sense of wacky humor,
			which she knows how to use masterfully."
		</q>
		(Mona May, artist, author, theater and dance maker)
	</p>
	<p>
		<b>Collaborations:</b>
		<br>
		Bàrbara Raubert (dramaturgy, Barcelona)
		<br>
		Ana Vivero (costume, Barcelona)
		<br>
		Karin Scaria-Braunstein (sociologist, Graz)
		<br>
		Pol Monsó Purtí (software developer, Girona)
		<br>
		Hanna Rohn (dramaturgy, Graz)
		<br>
		Lise Lendais (artistic accompaniment, Vienna)
		<br>
		Koko la Douce (artistic accompaniment, Vienna)
		<br>
		Tom Bergner (lighting and sound)
		<br>
		Lisa Raschhofer (lighting and sound)
		<br>
		Peter Spall (lighting and sound)
		<br>
		Fabian Czernovsky (cameraman, video editing)
		<br>
		Berta Monsó Purtí (video editing)
		<br>
		Edi Haberl, Clemens Nestroy, Neus Solà (photographers)
		<br>
		Diego Tamame Jiménez (composer)
		<br>
		Alpine Dweller (music group)
		<br>
		Eulàlia Purtí (actress)
		<br>
		Magdalena Garzón (dancer and choreographer)
		<br>
		Jula Zangger (actress and director).
	</p>
	<p>
		<b>Supported by:</b><br>
		City of Graz, State of Styria, Federal Government of Austria,
		Bildrecht GmbH, Theaterland Steiermark, Viertelfestival NÖ,
		Center cívic Ter, Das andere Theater Graz, laut!, spleen*trieb
		tudanzas festival social Barcelona, newsOFFstyria, Styrian summer art festival,
		upTown Gallery Graz, Tanz Graz, Nau Ivanow Barcelona, Associació Gironina de Teatre
	</p>
</div>
</div>
</div>

{% include contact-form.html message="Contact me, I'm looking forward to hearing from you!
" %}
