---
layout: fullpage
title: About Ursula Graber
lang: ca
ref: about
---
<div class="ultra-container">
	<div class="super-container">
		<div class="about-main-container">
			<div>
				<h2>Hola, em dic Ursula.<br>
					 Soc ballarina, coreògrafa i pedagoga de dansa.
					 </h2>

				<p>


				<br>

							"... una veritable purista de la dansa contemporània i equipada amb una alegria
							irrefrenable per experimentar i explorar. Les seves actuacions brillen amb una
							naturalitat refrescant,  amb un domini excel·lent de les habilitats de dansa,
							amb una tècnica de dansa perfecta."
							 <i><a href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4">Mona May, escriptora i directora</a></i>


			</div>
			<div class="superpad">
				<!-- {% include iconset.html icon="down-arrow" %} -->
				<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt="" class="inline-icon" />Saber-ne més</a>
			</div>
		</div>
		<div class="top-image-container">
			<img src="https://ursulagraber.files.wordpress.com/2021/12/woman-hood-c-clemens-nestroy_small.jpg" alt="Ursula Graber">
		</div>
	</div>
	<div class="about-bottom-container">
		<div class="bottom-section">
			<div class="float-left">
				<img src="https://ursulagraber.files.wordpress.com/2021/12/mallorca-28_3000-2000.jpg" class="side-image" alt="Ursula Graber">
			</div>

			<div class="bottom-text" id="bottom-text">
				<h2>
					Més informació sobre Ursula
				</h2>
				<div class="justify" id="bottom-text-content">
					<p>
						<br>
						Ursula Graber, de Graz (AT), és una coreògrafa i ballarina contemporània
						fascinant, les obres de la qual sempre tracten temes que li són molt propers.
						Graber crea espectacles de dansa exigents físicament. Va rebre el 2019
						l’«Startstipendium», una beca de música i arts escèniques del Ministeri
						Federal Austríac per a la UE, l’Art i la Cultura. Va estudiar a la reconeguda
						Haute école des arts de la scène <i>La Manufacture</i> de Lausana (CH) i a la Universitat
						Privada Anton Bruckner de Linz. Actualment viu i treballa a Graz i a Girona. 

						<br>
						<p>
							Els espectacles de dansa de Graber tracten temes crítics socialment com el feminisme,
							el paper de les dones, el llenguatge i la identitat, la natura i la comunitat.
							Amb molt d’humor i una dansa de molta exigència física, transforma aquests motius
							en grans espectacles. La seva obra s’ha representat a nivell nacional i internacional.

						<br>
						<p>
							El 2018, Graber va fer gires per tota Suïssa com a ballarina del conegut coreògraf suís
							Fabrice Mazliah com a part del festival STEPS. 

						<br>
						El 2020 es va estrenar l’impressionant solo de dansa <a class="a-on-white" href="http://www.ursulagraber.com/solo/2020/06/11/Starlight/">Starlight 'Killjoy' Coquelicot</a>,
						que va ser acollit amb entusiasme pel públic i amb una
						valoració excel·lent per part de la crítica.

						<br>

						El 2021 segueix amb el seu Solo <a class="a-on-white" href="http://www.ursulagraber.com/news/2021/03/12/ca-Woman_Hood/">Woman Hood</a>
						que a causa de les mesures pel Covid s'havia de estrenar en línia (seguit d'una tertúlia amb l'equip artístic).
						En el programa del radio austriac Ö1 va sortir un reportatge sobre Woman Hood en el marc del Kulturjournal.

						<br>

						<p>


							<br>

											<a class="a-on-white" href="{{ site.url }}/docs/CV_de_UrsulaGraber.pdf">>CV auf Deutsch</a>

									<br>

											<a class="a-on-white" href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>

									<br>

											<a class="a-on-white" href="{{ site.url }}/docs/CV_cat_UrsulaGraber.pdf">>CV en català</a>

				<p>

				<a class="a-on-white" href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4">>Retrat d'artista d'Ursula Graber (en alemany)</a> <br>



				</div>
			</div>
		</div>
	</div>
</div>

{% include contact-form.html message="Escriu-me, serà un plaer tenir notícies teves!" %}
