---
layout: fullpage
title: About Ursula Graber
lang: en
ref: about
---
<div class="ultra-container">
<div class="super-container">
<div class="about-main-container">
	<div>
		<h2>Hello, I'm Ursula.<br>
			I am a dancer, choreographer and a dance educator.</h2>
		<p>
			Being a contemporary dancer, I not only perform on stage but also
			create my own performances. Alone as well as in cooperation with
			other choreographers.
		</p><br>
		<p>
			Furthermore, I offer classes about dance improvisation for everyone,
			who enjoys playing with movement and wants to learn (more) about
			dance improv.
		</p>
	</div>
	<div class="superpad">
		<!-- {% include iconset.html icon="down-arrow" %} -->
		<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt=""
				class="inline-icon" />More info...</a>
	</div>
</div>
<div class="top-image-container">
	<img src="https://ursulagraber.files.wordpress.com/2021/12/woman-hood-c-clemens-nestroy_small.jpg"
		alt="Ursula Graber">
</div>
</div>
<div class="about-bottom-container">
<div class="bottom-section">
	<div class="float-left">
		<img src="https://ursulagraber.files.wordpress.com/2021/12/mallorca-28_3000-2000.jpg" class="side-image"
			alt="Ursula Graber">
	</div>
	<div class="bottom-text" id="bottom-text">
		<h2>
			About Ursula
		</h2>
		<div class="justify" id="bottom-text-content">
			<br>
			<p>
				She studied Contemporary Dance with a focus on Creation and Dance
				Education, at <i>Anton Bruckner University in Linz</i> (AT) and at <i>La
					Manufacture</i> in Lausanne (CH).
			</p>
			<p>
				She worked with various artists like Thomas Hauert, Fabrice Mazliah,
				Jeremy Nelson, Martin Kilvady, David Zambrano, Mal Pelo,
				Àngels Margarit and Michael Turinsky, and others..
				Ursula performed not only in Austria at various places (Graz: Mumuth,
				Schauspielhaus, La Strada; Linz: Kunstuni, Raumschiff, KAPU; Wien: raw matters,
				Brick-15), but also at the swiss Festival STEPS, in Paris at
				the Centre National de la Danse (CND) as well as in Spain, Girona
				(Centre Civic Ter).
			</p>
			<p>
				2019, she received the Startstipendium for music and performing arts,
				a famous scholarship from the Austrian federal ministry for EU,
				arts and culture. Today, she lives and works as well in Graz (AT)
				as in Girona (Catalonia, Spain).
			</p>
			<p>
				In her performances, she works with various topics like feminism,
				language and identity - topics, which concern her personally.
				For her work, she takes on a sociological perspective and uses
				her great sense of humor, sensuality and skilled physicality,
				to create her own performances.
			</p>
			<p>
				#dance performance #contemporary dance #feminism #humor #brave #honest
				#personal #Sara Ahmed #dancemaker #physical #sensual
			</p>
		</div>
	</div>
</div>
</div>
</div>
<div class="dark-color">
<div class="ultra-container">
<div class="bottom-section">
	<div class="bottom-text justify">
		<br>
		<a
			href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4">>Artist
			portrait</a>
		(in german, text, 2019) <br>
		<br>
		<a href="https://tanzland.at/new-blog/2021/4/04/ursula-graber ">>Interview at tanztalk</a>
		(in german, audio, 2020)
		<br>

	<a href="{{ site.url }}/docs/CV_de_UrsulaGraber.pdf">>CV auf Deutsch</a>
	<br>
	<a href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>
	<br>
	<a href="{{ site.url }}/docs/CV_cat_UrsulaGraber.pdf">>CV en català</a>
	<br>
	</div>
	</div>
	</div>
</div>
<div class="ultra-container">
<div class="bottom-section">
<div class="bottom-text justify">
	<p class="quote on-white">
		<q>...That's also her motto on stage: plunge into
			adventure and experiment.
		</q>
		(Verena Schaupp, Kleine Zeitung)
	</p>
	<p class="quote on-white">
		<q>
			"Her performances sparkle with refreshing naturalness, the dance skills,
			including a perfect dance technique, are superbly mastered."<br>
		</q>
	</p>
	<p class="quote on-white">
		<q>
			“... I have seldom encountered so much playful carefreeness and curiosity in
			a dancer. Of course, this joy and desire are in stark contrast to the content
			to which she boldly and courageously turns in her stage works and
			performances.”
		</q>
	</p>
	<p class="quote on-white">
		<q>
			"And all this with a wink and a strong sense of wacky humor,
			which she knows how to use masterfully."
		</q>
		(Mona May, artist, author, theater and dance maker)
	</p>
	<p>
		<b>Collaborations:</b>
		<br>
		Bàrbara Raubert (dramaturgy, Barcelona)
		<br>
		Ana Vivero (costume, Barcelona)
		<br>
		Karin Scaria-Braunstein (sociologist, Graz)
		<br>
		Pol Monsó Purtí (software developer, Girona)
		<br>
		Hanna Rohn (dramaturgy, Graz)
		<br>
		Lise Lendais (artistic accompaniment, Vienna)
		<br>
		Koko la Douce (artistic accompaniment, Vienna)
		<br>
		Tom Bergner (lighting and sound)
		<br>
		Lisa Raschhofer (lighting and sound)
		<br>
		Peter Spall (lighting and sound)
		<br>
		Fabian Czernovsky (cameraman, video editing)
		<br>
		Berta Monsó Purtí (video editing)
		<br>
		Edi Haberl, Clemens Nestroy, Neus Solà (photographers)
		<br>
		Diego Tamame Jiménez (composer)
		<br>
		Alpine Dweller (music group)
		<br>
		Eulàlia Purtí (actress)
		<br>
	</p>
	<p>
		<b>Supported by:</b><br>
		City of Graz, State of Styria, Federal Government of Austria,
		Bildrecht GmbH, Theaterland Steiermark, Viertelfestival NÖ,
		Center cívic Ter, Das andere Theater Graz, laut!, spleen*trieb
	</p>
</div>
</div>
</div>

{% include contact-form.html message="Contact me, I'm looking forward to hearing from you!
" %}
