---
layout: fullpage
title: About Ursula Graber
lang: es
ref: about
---
<div class="ultra-container">
<div class="super-container">
<div class="about-main-container">
	<div>
		<h2>¡Bienvenidxs!<br>
			 </h2>
		<p>
			 Soy Ursula Graber.
		</p>
		<p>
			Bailarina - coreógrafa - pedagoga de danza
		</p>
	</div>
	<div class="superpad">
		<!-- {% include iconset.html icon="down-arrow" %} -->
		<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt=""
				class="inline-icon" />Saber más...</a>
	</div>
</div>
<div class="top-image-container">
	<img src="https://ursulagraber.files.wordpress.com/2021/12/woman-hood-c-clemens-nestroy_small.jpg"
		alt="Ursula Graber">
</div>
</div>
<div class="about-bottom-container">
<div class="bottom-section">
	<div class="float-left">
		<img src="https://ursulagraber.files.wordpress.com/2021/12/mallorca-28_3000-2000.jpg" class="side-image"
			alt="Ursula Graber">
	</div>

<div class="bottom-text" id="bottom-text">
	<h2>
		Sobre Ursula
	</h2>
	<div class="justify" id="bottom-text-content">
		<br>
		<p>
			Ursula estudió Danza Contemporánea y Pedagogía de la Danza en la <i>Universidad
			Anton Bruckner</i> de Linz (AT) y Danza Contemporánea con un enfoque en la
			 Creación en la Universidad de Artes Escénicas <i>La Manufacture</i> en Lausana (CH).

		</p>
		<p>
			Como parte de su formación, trabajó con artistas como Thomas Hauert,
			Fabrice Mazliah, Jeremy Nelson, Martin Kilvady, David Zambrano,
			Mal Pelo, Àngels Margarit, Michael Turinsky y Kirstie Simson, entre otros.
			Actuó en Suiza en el Festival STEPS, en París, Graz, Linz, Viena y Girona.
		</p>
		<p>
			En 2019 recibió el Startstipendium, una beca de artes escénicas
			del Ministerio Federal Austríaco.
			Vive y trabaja a Graz (Austria) y también es activa en Cataluña.

		</p>
		<p>
			En sus espectáculos de danza trata temas importantes en su vida como
			el feminismo, el lenguaje y la identidad. Estos contextos son observados
			con ojos de investigadora sociológica, y transformados por medio del
			humor, la sensualidad y una danza de mucha exigencia física,
			en espectáculos.
		</p>
		<p>
			Su trabajo ha sido invitado a los festivales spleen*trieb (AT), newsOFFstyria (AT)
			y al Centre Cívic Ter. En 2022 ha sido invitada al Viertelfestival NÖ (AT) y al Homotopia
			Festival de Liverpool (UK). También en 2022 recibe el Premio Morgenstern del
			Estado de Estiria (AT), que está dotado con 10.000€.
		</p>
		<p>
			<i>#performance de danza #Danza contemporánea #feminismo #humor
				#coraje #honesto #personal #Sara Ahmed #dancemaker #physical #sensual
</i>
		</p>
	</div>
</div>
</div>
</div>
</div>
<div class="dark-color">
<div class="ultra-container">
<div class="bottom-section">
	<div class="bottom-text justify">
		<br>
		<a
			href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4"
			>>Retrato de artista de Ursula Graber (texto en alemán, 2019)</a>
		<br>
		<a href="https://tanzland.at/new-blog/2021/4/04/ursula-graber"
			>>Entrevista en el tanztalk (Audio en alemán, 2020)

		<br>

	<iframe src="https://cba.fro.at/495235/embed?audio&q=1&waveform=false" height="80px" style="border:none;"></iframe>
	<br>
	<a href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>
	<br>
		<br>
	</div>
	</div>
	</div>
</div>
<div class="ultra-container">
<div class="bottom-section">
<div class="bottom-text justify">
	<p class="quote on-white">
		<q>
			...Este es también su lema en el escenario: sumergirse en
			la aventura y experimentar.

		</q>
		(Verena Schaupp, Kleine Zeitung)
	</p>
	<p class="quote on-white">
		<q>
			Sus obras brillan con una naturalidad refrescante, las habilidades
			de baile, incluida una técnica de danza perfecta, están excelentemente
			dominadas.
		</q>
	</p>
	<p class="quote on-white">
		<q>
			... Rara vez me he encontrado con tanta despreocupación y curiosidad
			lúdica en una bailarina. Por supuesto, esta alegría y deseo están
			en fuerte contraste con el contenido al que se dirige con valentía
			en sus obras y actuaciones escénicas.

		</q>
	</p>
	<p class="quote on-white">
		<q>
		Y todo esto con un guiño y un fuerte sentido del humor loco, que sabe
			utilizar magistralmente.

		</q>
		(Mona May, artista, autora, creadora de teatro y danza)
	</p>
	<br>
	<p>
		<b>Colaboraciones:</b>
		<br>
		Bàrbara Raubert (Dramaturgia, Barcelona)
		<br>
		Ana Vivero (Vestuario, Barcelona)
		<br>
		Karin Scaria-Braunstein (Socióloga, Graz)
		<br>
		Pol Monsó Purtí (Artista visual, Girona)
		<br>
		Hanna Rohn (Dramaturgia, Graz)
		<br>
		Lise Lendais (Acompañamiento artístico, Viena)
		<br>
		Koko la Douce (Acompañamiento artístico, Berlín)
		<br>
		Tom Bergner (Técnico de iluminación y sonido)
		<br>
		Lisa Raschhofer (Técnica de iluminación y sonido)
		<br>
		Peter Spall (Técnico de iluminación y sonido)
		<br>
		Fabian Czernovsky (Cámara, montaje)
		<br>
		Berta Monsó Purtí (Montaje)
		<br>
		Edi Haberl, Clemens Nestroy, Neus Solà (Fotografía)
		<br>
		Diego Tamame Jiménez (Compositor)
		<br>
		Alpine Dweller (Grupo de música)
		<br>
		Eulàlia Purtí (Actriz)
		<br>
		Magdalena Garzón (Bailarina y coreógrafa)
		<br>
		Jula Zangger (Actriz y directora)
	</p>
	<p>
		<b>Con el apoyo de:</b><br>
		Ciudad de Graz, Estado de Estiria, Gobierno Federal de Austria,
		Bildrecht GmbH, Theaterland Steiermark, VertelFestival NÖ,
		Centro cívico Ter, Das andere Theater Graz, laut!, spleen*trieb,
		tudanzas festival social Barcelona,  newsOFFstyria, Styrian summer art festival,
		upTown Gallery Graz, Tanz Graz, Nau Ivanow Barcelona, Associació Gironina de Teatre

	</p>
</div>
</div>
</div>

{% include contact-form.html message="Escríbeme, ¡me encantará tener noticias tuyas!" %}
