---
layout: fullpage
title: About Ursula Graber
lang: ca
ref: about
---
<div class="ultra-container">
<div class="super-container">
<div class="about-main-container">
	<div>
		<h2>Benvingudes,<br>
			benvinguts!</h2>
		<p>
			Em dic Ursula Graber.<br>
		</p>
		<p>
			Ballarina - coreògrafa - pedagoga de dansa
		</p>
	</div>
	<div class="superpad">
		<!-- {% include iconset.html icon="down-arrow" %} -->
		<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt=""
				class="inline-icon" />Saber-ne més</a>
	</div>
</div>
<div class="top-image-container">
	<img src="https://ursulagraber.files.wordpress.com/2021/12/woman-hood-c-clemens-nestroy_small.jpg"
		alt="Ursula Graber">
</div>
</div>
<div class="about-bottom-container">
<div class="bottom-section">
	<div class="float-left">
		<img src="https://ursulagraber.files.wordpress.com/2021/12/mallorca-28_3000-2000.jpg" class="side-image"
			alt="Ursula Graber">
	</div>

<div class="bottom-text" id="bottom-text">
	<h2>
		Sobre Ursula
	</h2>
	<div class="justify" id="bottom-text-content">
		<br>
		<p>
			L'Ursula va estudiar Dansa Contemporània i Pedagogia de la Dansa a la <i>Universitat
			Anton Bruckner</i> de Linz (AT) i Dansa Contemporània centrada en la Creació a la Universitat
			d'Arts Escèniques <i>La Manufacture</i> de Lausana (CH).
		</p>
		<p>
			Com a part de la seva formació, va treballar amb artistes com Thomas Hauert,
			Fabrice Mazliah, Jeremy Nelson, Martin Kilvady, David Zambrano, Mal Pelo,
			Àngels Margarit, Michael Turinsky i Kirstie Simson, entre d'altres.
			Va actuar a Suïssa al Festival STEPS, a París, Graz, Linz, Viena i Girona.
		</p>
		<p>
			El 2019 va rebre l’«Startstipendium», una beca de arts
			escèniques del Ministeri Federal Austríac. Viu i treballa entre Graz (Àustria) i Catalunya.
		</p>
		<p>
			En els espectacles de dansa tracta temes importants en la seva vida
			com el feminisme, el llenguatge i la identitat. Aquests contextos
			són observats amb ulls d'investigadora sociològica, i transformats
			per mitjà de l'humor, la sensualitat i una dansa de molta exigència
			física, en espectacles de dansa.
		</p>
		<p>
			La seva obra ha estat convidada als festivals spleen*trieb (AT), newsOFFstyria
			(AT) i al Centre Cívic Ter. El 2022 ha estat convidada al <a class="a-on-white" href="https://www.viertelfestival-noe.at/veranstaltung/woman-hood/">Viertelfestival
				NÖ</a> (AT) i al <a class="a-on-white" href="https://www.homotopia.net/Festival%20/woman-hood/"
			>Homotopia Festival</a> de Liverpool (UK). També l'any 2022 rep el
			<a class="a-on-white" href="https://www.politik.steiermark.at/cms/beitrag/12890727/2494255/">Premi Morgenstern</a>
			 de l'Estat d'Estíria (AT). Treballa col·lectivament amb diferents artistes per dur a terme els seus projectes.
		</p>
		<p>
			<i>#performance de dansa #Dansa contemporània #feminisme #humor #coratge
				#honest #personal #Sara Ahmed #dancemaker #physical #sensual</i>
		</p>
	</div>
</div>
</div>
</div>
</div>
<div class="dark-color">
<div class="ultra-container">
<div class="bottom-section">
	<div class="bottom-text justify">
		<br>
		<a
			href="https://www.kultur.steiermark.at/cms/beitrag/12922277/166298072/">>Retrat
			d'artista a la Galeria ARTfaces del estat de Estíria (de Wolfgang Kühnelt, en alemany)</a>
		(Text, 2019)
		<br>
		<br>
		<a href="https://www.kultur.steiermark.at/cms/beitrag/12849252/166628854/">>Podcast KUNSTFUNKEN. Entrevista amb Ursula Graber. En alemany. 16.01.2023 (#19)</a>
	<br>
	<br>
	<a href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>
	<br>
	<br>
	</div>
	</div>
	</div>
</div>
<div class="ultra-container">
<div class="bottom-section">
<div class="bottom-text justify">
	<p class="quote on-white">
		<q>
			...Aquest és també el seu lema a l'escenari:
			submergir-se en l'aventura i experimentar.
		</q>
		(Verena Schaupp, Kleine Zeitung)
	</p>
	<p class="quote on-white">
		<q>
			Les seves obres brillen amb una naturalitat refrescant, les habilitats
			de ball, inclosa una tècnica de dansa perfecta, estan excel·lentment
			dominades
		</q>
	</p>
	<p class="quote on-white">
		<q>
			... Poques vegades m'he trobat amb tanta despreocupació i curiositat lúdica
			en una ballarina. Per descomptat, aquesta alegria i desig estan en fort
			contrast amb el contingut al qual es dirigeix ​​amb valentia en les seves
			obres i actuacions escèniques.
		</q>
	</p>
	<p class="quote on-white">
		<q>
			"I tot això amb una picada d'ullet i un fort sentit de l'humor boig,
			que sap utilitzar magistralment".
		</q>
		(Mona May, artista, autora, creadora de teatre i dansa)
	</p>
	<br>
	<p>
		<b>Col·laboracions:</b>
		<br>
		Bàrbara Raubert (Dramatúrgia, Barcelona)
		<br>
		Ana Vivero (Vestuari, Barcelona)
		<br>
		Karin Scaria-Braunstein (Socióloga, Graz)
		<br>
		Pol Monsó Purtí (Desenvolupador de software, Girona)
		<br>
		Hanna Rohn (Dramatúrgia, Graz)
		<br>
		Lise Lendais (Acompanyament artístic, Viena)
		<br>
		Koko la Douce (Acompanyament artístic, Berlín)
		<br>
		Tom Bergner (Tècnic d'il·luminació i so)
		<br>
		Lisa Raschhofer (Tècnica d'il·luminació i so)
		<br>
		Peter Spall (Tècnic d'il·luminació i so)
		<br>
		Fabian Czernovsky (Càmera, muntatge)
		<br>
		Berta Monsó Purtí (Muntatge)
		<br>
		Edi Haberl, Clemens Nestroy, Neus Solà (Fotografia)
		<br>
		Diego Tamame Jiménez (Compositor)
		<br>
		Alpine Dweller (Grup de música)
		<br>
		Eulàlia Purtí (Actriu)
		<br>
		Magdalena Garzón (Ballarina i coreògrafa)
		<br>
		Jula Zangger (Actriu i directora)
	</p>
	<p>
		<b>Amb el suport de:</b><br>
		Ciutat de Graz, Estat d'Estíria, Govern Federal d'Àustria,
		Bildrecht GmbH, Theaterland Steiermark, ViertelFestival NÖ,
		Centre cívic Ter, Das andere Theater Graz, laut!, spleen*trieb
		tudanzas festival social Barcelona, newsOFFstyria, Styrian summer art festival,
		upTown Gallery Graz, Tanz Graz, Nau Ivanow Barcelona, Associació Gironina de Teatre
	</p>
</div>
</div>
</div>

{% include contact-form.html message="Escriu-me, m'encantarà tenir notícies teves!" %}
