---
layout: fullpage
title: About Ursula Graber
lang: ca
ref: about
---
<div class="ultra-container">
<div class="super-container">
<div class="about-main-container">
	<div>
		<h2>Benvingudes,<br>
			benvinguts!</h2>
		<p>
			Em dic Ursula Graber.<br>
		</p>
		<p>
			Ballarina - coreògrafa - pedagoga de dansa
		</p>
	</div>
	<div class="superpad">
		<!-- {% include iconset.html icon="down-arrow" %} -->
		<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt=""
				class="inline-icon" />Saber-ne més</a>
	</div>
</div>
<div class="top-image-container">
	<img src="https://ursulagraber.files.wordpress.com/2021/12/woman-hood-c-clemens-nestroy_small.jpg"
		alt="Ursula Graber">
</div>
</div>
<div class="about-bottom-container">
<div class="bottom-section">
	<div class="float-left">
		<img src="https://ursulagraber.files.wordpress.com/2021/12/mallorca-28_3000-2000.jpg" class="side-image"
			alt="Ursula Graber">
	</div>

<div class="bottom-text" id="bottom-text">
	<h2>
		Sobre Ursula
	</h2>
	<div class="justify" id="bottom-text-content">
		<br>
		<p>
			L’Ursula va estudiar Dansa Contemporània centrada en la Creació a
			la Universitat Anton Bruckner de Linz (AT) i a la Haute école des
			arts de la scène La Manufacture de Lausana (CH).
		</p>
		<p>
			En el marc dels seus estudis ha treballat amb artistes com Thomas Hauert, Fabrice Mazliah,
			Jeremy Nelson, Martin Kilvady, David Zambrano, Mal Pelo,
			Àngels Margarit i Michael Turinsky entre d’altres. Les seves
			obres s’han vist a Suïssa, París (Centre Nacional de la Dansa - CND),
			Graz, Linz, Viena i Girona, al festival spleen*trieb (Graz 2020),
			al festival newsOFFstyria (Graz 2021) i al Centre Cívic Ter
			(Girona 2021). El 2022 actuarà al festival Viertelfestival NÖ (AT).
		</p>
		<p>
			El 2019 va rebre l’«Startstipendium», una beca de música i arts
			escèniques del Ministeri Federal Austríac per a la UE, l’Art i la
			Cultura. Viu i treballa entre Graz (Àustria) i Girona.
		</p>
		<p>
			En els espectacles de dansa tracta temes importants en la seva vida
			com el feminisme, el llenguatge i la identitat. Aquests contextos
			són observats amb ulls d'investigadora sociològica, i transformats
			per mitjà de l'humor, la sensualitat i una dansa de molta exigència
			física, en espectacles de dansa.
		</p>
		<p>
			<i>#performance de dansa #Dansa contemporània #feminisme #humor #coratge
				#honest #personal #Sara Ahmed #dancemaker #physical #sensual</i>
		</p>
	</div>
</div>
</div>
</div>
</div>
<div class="dark-color">
<div class="ultra-container">
<div class="bottom-section">
	<div class="bottom-text justify">
		<br>
		<a
			href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4">>Retrat
			d'artista d'Ursula Graber (en alemany)</a>
		(Text, 2019)
		<br>
		<a href="https://tanzland.at/new-blog/2021/4/04/ursula-graber ">>Entrevista al tanztalk</a> (en alemany,
		àudio, 2020)
		(Audio, 2020)
		<br>

	<iframe src="https://cba.fro.at/495235/embed?audio&q=1&waveform=false" height="80px" style="border:none;"></iframe>
	<br>
	<br>
	<a href="{{ site.url }}/docs/CV_de_UrsulaGraber.pdf">>CV auf Deutsch</a>
	<br>
	<a href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>
	<br>
	<a href="{{ site.url }}/docs/CV_cat_UrsulaGraber.pdf">>CV en català</a>
	<br>
	<a href="{{ site.url }}/docs/CV_cast_UrsulaGraber.pdf">>CV en castellano</a>
	<br>
	<br>
	</div>
	</div>
	</div>
</div>
<div class="ultra-container">
<div class="bottom-section">
<div class="bottom-text justify">
	<p class="quote on-white">
		<q>
			...Aquest és també el seu lema a l'escenari:
			submergir-se en l'aventura i experimentar.
		</q>
		(Verena Schaupp, Kleine Zeitung)
	</p>
	<p class="quote on-white">
		<q>
			Les seves obres brillen amb una naturalitat refrescant, les habilitats
			de ball, inclosa una tècnica de dansa perfecta, estan excel·lentment
			dominades
		</q>
	</p>
	<p class="quote on-white">
		<q>
			... Poques vegades m'he trobat amb tanta despreocupació i curiositat lúdica
			en una ballarina. Per descomptat, aquesta alegria i desig estan en fort
			contrast amb el contingut al qual es dirigeix ​​amb valentia en les seves
			obres i actuacions escèniques.
		</q>
	</p>
	<p class="quote on-white">
		<q>
			"I tot això amb una picada d'ullet i un fort sentit de l'humor boig,
			que sap utilitzar magistralment".
		</q>
		(Mona May, artista, autora, creadora de teatre i dansa)
	</p>
	<br>
	<p>
		<b>Col·laboracions:</b>
		<br>
		Bàrbara Raubert (Dramatúrgia, Barcelona)
		<br>
		Ana Vivero (Vestuari, Barcelona)
		<br>
		Karin Scaria-Braunstein (Socióloga, Graz)
		<br>
		Pol Monsó Purtí (Desenvolupador de software, Girona)
		<br>
		Hanna Rohn (Dramatúrgia, Graz)
		<br>
		Lise Lendais (Acompanyament artístic, Viena)
		<br>
		Koko la Douce (Acompanyament artístic, Berlín)
		<br>
		Tom Bergner (Tècnic d'il·luminació i so)
		<br>
		Lisa Raschhofer (Tècnica d'il·luminació i so)
		<br>
		Peter Spall (Tècnic d'il·luminació i so)
		<br>
		Fabian Czernovsky (Càmera, muntatge)
		<br>
		Berta Monsó Purtí (Muntatge)
		<br>
		Edi Haberl, Clemens Nestroy, Neus Solà (Fotografia)
		<br>
		Diego Tamame Jiménez (Compositor)
		<br>
		Alpine Dweller (Grup de música)
		<br>
		Eulàlia Purtí (Actriu)
		<br>
	</p>
	<p>
		<b>Amb el suport de:</b><br>
		Ciutat de Graz, Estat d'Estíria, Govern Federal d'Àustria,
		Bildrecht GmbH, Theaterland Steiermark, ViertelFestival NÖ,
		Centre cívic Ter, Das andere Theater Graz, laut!, spleen*trieb
	</p>
</div>
</div>
</div>

{% include contact-form.html message="Escriu-me, m'encantarà tenir notícies teves!" %}
