---
layout: fullpage
title: About Ursula Graber
lang: de
ref: about
---
<div class="ultra-container">
<div class="super-container">
<div class="about-main-container">
	<div>
		<h2>Willkommen!<br>
			</h2>
		<p>
			Ich bin Ursula Graber.
		</p>
		<p>
			Tänzerin - Choreografin - Tanzpädagogin
		</p>
	</div>
	<div class="superpad">
		<!-- {% include iconset.html icon="down-arrow" %} -->
		<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt=""
				class="inline-icon" /></a>
	</div>
</div>
<div class="top-image-container">
	<img src="https://ursulagraber.files.wordpress.com/2021/12/woman-hood-c-clemens-nestroy_small.jpg"
		alt="Ursula Graber">
</div>
</div>
<div class="about-bottom-container">
<div class="bottom-section">
	<div class="float-left">
		<img src="https://ursulagraber.files.wordpress.com/2021/12/mallorca-28_3000-2000.jpg" class="side-image"
			alt="Ursula Graber">
	</div>
	<div class="bottom-text" id="bottom-text">
		<h2>
			Über Ursula:
		</h2>
		<div class="justify" id="bottom-text-content">
			<p>
				<br>
				Ursula studierte an der Anton Bruckner Universität Linz (AT) und an
				der <i>La Manufacture</i>, Lausanne (CH) Contemporary Dance mit Fokus auf
				Kreation sowie Tanzpädagogik.
			</p>
			<p>
				Im Rahmen ihrer Ausbildung arbeitete sie mit Künstler:innen wie Thomas Hauert, Fabrice Mazliah,
				Jeremy Nelson, Martin Kilvady, David Zambrano, Mal Pelo,
				Àngels Margarit und Michael Turinsky u.a. und performte in der
				Schweiz beim Festival STEPS, Paris (Centre National de la Danse - CND),
				Graz (Mumuth, Schauspielhaus, La Strada), Linz (Kunstuni, Raumschiff, KAPU),
				Wien (raw matters, Brick-15) und Girona (Centre Cívic Ter).
			</p>
			<p>
				2019 erhielt sie das Startstipendium für Musik und darstellende Kunst des
				Bundesministeriums für EU, Kunst und Kultur. Sie lebt und arbeitet in
				Graz und Girona (Katalonien).
			</p>
			<p>
				In ihren Tanzperformances behandelt sie Themen, die nah an ihrem Herzen
				sind; wie Feminismus, Sprachen und Identität. Aus einem soziologischen
				Blickwinkel betrachtend kreiert sie mit Humor,
				Sinnlichkeit und einer starken Körperlichkeit daraus Tanzperformances.
			</p>
			<p>
				Ihre Tanzperformances wurden zu den Festivals spleen*trieb (Graz 2020),
				newsOFFstyria (Graz 2021) und ins Centre Cívic Ter (Girona 2021) eingeladen.
				2022 ist sie beim <a class="a-on-white" href="https://www.viertelfestival-noe.at/">Viertelfestival
					NÖ</a> eingeladen.
			</p>
			<p>
				#Tanzperformance #Contemporary Dance #Feminismus #Humor #mutig #ehrlich
				#persönlich #Sara Ahmed #dancemaker #physical #sensual
			</p>
		</div>
	</div>
</div>
</div>
</div>
<div class="dark-color">
<div class="ultra-container">
<div class="bottom-section">
	<div class="bottom-text justify">
		<br>
		<a
			href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4">>Künstler-Portrait</a>
		(Text, 2019)
		<br>
		<a href="https://tanzland.at/new-blog/2021/4/04/ursula-graber ">>Interview beim tanztalk</a>
		(Audio, 2020)
		<br>

	<iframe src="https://cba.fro.at/495235/embed?audio&q=1&waveform=false" height="80px" style="border:none;"></iframe>
	<br>
	<a href="{{ site.url }}/docs/CV_de_UrsulaGraber.pdf">>CV auf Deutsch</a>
	<br>
	<a href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>
	<br>
	<a href="{{ site.url }}/docs/CV_cat_UrsulaGraber.pdf">>CV en català</a>
	<br>
	<a href="{{ site.url }}/docs/CV_cast_UrsulaGraber.pdf">>CV en castellano</a>
	<br>
		<br>
	</div>
	</div>
	</div>
</div>
<div class="ultra-container">
<div class="bottom-section">
<div class="bottom-text justify">
	<p class="quote on-white">
		<q>..Das ist auch ihr Motto auf der Bühne: sich ins Abenteuer stürzen und
			experimentieren.
		</q>
		(Verena Schaupp, Kleine Zeitung)
	</p>
	<p class="quote on-white">
		<q>
			Ihre Performances sprühen vor erfrischender Natürlichkeit, die Tanz-Skills,
			samt einer perfekten Tanztechnik werden grandios beherrscht.
		</q>
	</p>
	<p class="quote on-white">
		<q>
			...so viel spielerische Unbekümmertheit und Neugierde ist mir selten bei einer
			Tänzerin begegnet. Diese Freude und Lust stehen freilich in einem starken Kontrast
			zu den Inhalten, denen sie sich mutig und couragiert in ihren Bühnenwerken und
			Performances zuwendet.
		</q>
	</p>
	<p class="quote on-white">
		<q>
			Und das alles mit einem Augenzwinkern und mit einem ausgeprägten Sinn für schrägen
			Humor, den sie meisterlich einzusetzen versteht.
		</q>
		(Mona May, Künstlerin, Autorin, Theater- und Tanzschaffende)
	</p>
	<p>
		<b>Kollaborationen:</b>
		<br>
		Bàrbara Raubert (Dramaturgie, Barcelona)
		<br>
		Ana Vivero (Kostüm, Barcelona)
		<br>
		Karin Scaria-Braunstein (Soziologin, Graz)
		<br>
		Pol Monsó Purtí (Software-Entwickler, Girona)
		<br>
		Hanna Rohn (Dramaturgie, Graz)
		<br>
		Lise Lendais (Künstlerische Begleitung, Wien)
		<br>
		Koko la Douce (Künstlerische Begleitung, Berlin)
		<br>
		Tom Bergner (Licht- und Tontechnik)
		<br>
		Lisa Raschhofer (Licht- und Tontechnik)
		<br>
		Peter Spall (Licht- und Tontechnik)
		<br>
		Fabian Czernovsky (Video)
		<br>
		Berta Monsó Purtí (Video)
		<br>
		Edi Haberl, Clemens Nestroy, Neus Solà (Fotos)
		<br>
		Diego Tamame Jiménez (Komponist)
		<br>
		Alpine Dweller (Musikgruppe)
		<br>
		Eulàlia Purtí (Amateur-Schauspielerin)
		<br>
	</p>
	<p>
		<b>Unterstützt von:</b><br>
		Stadt Graz, Land Steiermark, Bund Österreich, Bildrecht GmbH,
		Theaterland Steiermark, Viertelfestival, Centre cívic Ter,
		Das andere Theater, laut!, spleen*trieb
	</p>
</div>
</div>
</div>

{% include contact-form.html message="Schreib mir, ich freu mich!" %}
