---
layout: fullpage
title: About Ursula Graber
lang: en
ref: about
---
<div class="ultra-container">
	<div class="super-container">
		<div class="about-main-container">
			<div>
				<h2>Hello, I'm Ursula.<br>
						I am a dancer, choreographer and dance educator.</h2>

	 				<p>

						As a contemporary dancer and choreographer, I create dance performances
						and perform on stage or in other settings - both in my own works and for
						other choreographers.<br>

	 				<p>

						I also offer workshops on dance improvisation. My workshops are
						aimed at people who like to play with movement and want to
						learn or develop dance-improv skills.



	 			</div>
			<div class="superpad">
				<!-- {% include iconset.html icon="down-arrow" %} -->
				<a href="#bottom-text"><img src="{{ site.url }}/images/down-arrow-white.svg" alt="" class="inline-icon" />Saber-ne més</a>
			</div>
		</div>
		<div class="top-image-container">
			<img src="https://ursulagraber.files.wordpress.com/2021/12/woman-hood-c-clemens-nestroy_small.jpg" alt="Ursula Graber">
		</div>
	</div>
	<div class="about-bottom-container">
		<div class="bottom-section">
			<div class="float-left">
				<img src="https://ursulagraber.files.wordpress.com/2021/12/mallorca-28_3000-2000.jpg" class="side-image" alt="Ursula Graber">
			</div>

			<div class="bottom-text" id="bottom-text">
				<h2>
					About Ursula
				</h2>
				<div class="justify" id="bottom-text-content">
					<p>
						<br>
							Ursula studied contemporary dance at the Anton Bruckner University
							Linz (AT) and at La Manufacture, Lausanne (CH) with a focus on
							creation and dance pedagogy.


						<br>
						<p>
							She has worked with artists such as Thomas Hauert, Fabrice Mazliah,
							Jeremy Nelson, Martin Kilvady, David Zambrano, Mal Pelo,
							Àngels Margarit and Michael Turinsky, among others, and has performed
							throughout Switzerland at the STEPS Festival, Paris (Centre National
							de la Danse - CND), Graz (Mumuth, Schauspielhaus, La Strada), Linz
							(Kunstuni, Raumschiff, KAPU), Vienna (raw matters, Brick-15) and
							Girona (Centre Cívic Ter).


						<br>
						<p>
						In 2019 she received the starting grant for music and performing arts
						from the Federal Ministry for the EU, Arts and Culture. She lives and
						works in Graz and Girona (Catalonia).

						<br>
						<p>
							In her dance performances she deals with subjects that are close
							to her heart; such as feminism, languages ​​and identity.
							From a sociological point of view, she creates dance performances
							with humour, sensuality and a strong physicality.


						<br>
						<p>
							Her dance performances have been invited to the festivals spleen*trieb
							(Graz 2020), newsOFFstyria (Graz 2021) and the Center Cívic Ter
							(Girona 2021). In 2022 she has been invited to the <a class="a-on-white" href="https://www.viertelfestival-noe.at/">Viertelfestival NÖ</a>

						<br>
						<p>
							#dance performance #contemporary dance #feminism #humor #brave #honest
							#personal #Sara Ahmed #dancemaker #physical #sensual

						<p>


				<a class="a-on-white" href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4">>Artist portrait</a> (in german, text, 2019) <br>

				<a class="a-on-white" href="https://tanzland.at/new-blog/2021/4/04/ursula-graber ">>Interview at tanztalk</a> (in german, audio, 2020)

				<br>

				<br>

								<a class="a-on-white" href="{{ site.url }}/docs/CV_de_UrsulaGraber.pdf">>CV auf Deutsch</a>

						<br>

								<a class="a-on-white" href="{{ site.url }}/docs/CV_en_UrsulaGraber.pdf">>CV in English</a>

						<br>

								<a class="a-on-white" href="{{ site.url }}/docs/CV_cat_UrsulaGraber.pdf">>CV en català</a>
				<br>
				<p>

					<h2 class="a-on-white">"...That's also her motto on stage: plunge into
						adventure and experiment." (Verena Schaupp, Kleine Zeitung)


					<br>
					<p>
						"Her performances sparkle with refreshing naturalness, the dance skills,
						including a perfect dance technique, are superbly mastered."<br>
					<p>
						“... I have seldom encountered so much playful carefreeness and curiosity in
						a dancer. Of course, this joy and desire are in stark contrast to the content
						to which she boldly and courageously turns in her stage works and
						performances.”<br>
					<p>
						"And all this with a wink and a strong sense of wacky humor,
						which she knows how to use masterfully."<br>
						 (Mona May, artist, author, theater and dance maker)</h2>

					<br>
					<p>
					<b>Collaborations:</b>
					<br>
							Bàrbara Raubert (dramaturgy, Barcelona)
					<br>
							Ana Vivero (Costume, Barcelona)
					<br>
							Karin Scaria-Braunstein (sociologist, Graz)
					<br>
							Pol Monsó Purtí (Software developer, Girona)
					<br>
							Hanna Rohn (Dramaturgy, Graz)
					<br>
							Lise Lendais (artistic accompaniment, Vienna)
					<br>
							Koko la Douce (artistic accompaniment, Vienna)
					<br>
							Tom Bergner (lighting and sound )
					<br>
							Lisa Raschhofer (lighting and sound )
					<br>
							Peter Spall (lighting and sound)
					<br>
							Fabian Czernovsky (Video)
					<br>
							Berta Monsó Purtí (Video)
					<br>
							Edi Haberl, Clemens Nestroy, Neus Solà (Fotos)
					<br>
							Diego Tamame Jiménez (Composer)
					<br>
							Alpine Dweller (music group)
					<br>
							Eulàlia Purtí (actress)
					<br>
					<p>
							<b>Supported by:</b><br>
							City of Graz, State of Styria, Federal Government of Austria,
							Bildrecht GmbH, Theaterland Steiermark, Viertelfestival NÖ,
							Center cívic Ter, Das andere Theater Graz, laut!, spleen*trieb



				</div>
			</div>
		</div>
	</div>
</div>

{% include contact-form.html message="Leave me a message, I'm looking forward to hearing from you!" %}
