---
title: Contact
layout: fullpage

lang: en
ref: contact

first_image: https://ursulagraber.files.wordpress.com/2021/12/woman-hood-edi-haberl-80_38.jpg
---
<div id="top-container">
<div class="flex-cols">
<div id="top-image">
	<img src="{{ page.first_image }}" />
</div>
<div id="top-text">
	<h2 style="padding-bottom: 0.5em; ">Ursula Graber</h2>
	{% if site.data.company_details.phone1 %}<a class="pairs" href="tel:{{ site.data.company_details.phone1 }}"><img
			class="paired-icon" src="/images/phone_black.png" />{{ site.data.company_details.phone1 }}</a><br> {%
	endif %}
	{% if site.data.company_details.phone2 %}<a class="pairs" href="tel:{{ site.data.company_details.phone2 }}"><img
			class="paired-icon" src="/images/phone_black.png" />{{ site.data.company_details.phone2 }}</a></p> {%
	endif %}
</div>
</div>
</div>


{% include contact-form.html message="Contact me, I'm looking forward to hearing from you!" %}

{% include js-photo.html %}

<h2 class="tinted">
Press
</h2>


<div class="ultra-container">
<div class="bottom-section">
<div class="bottom-text justify">
	<p class="quote on-white">
		<q>
			...That's also her motto on stage: plunge into adventure and experiment.

		</q>
		(Verena Schaupp, Kleine Zeitung)
	</p>
	<p class="quote on-white">
		<q>
			The ability to transform is (...) probably in Ursula Graber’s genes.
		</q>
		(Eveline Koberg, crítica de danza)
	</p>
	<p class="quote on-white">
		<q>
			I have rarely encountered so much playful carefreeness and curiosity in
			a dancer. Of course, this joy and desire are in stark contrast to the
			content to which she boldly and courageously turns in her stage works
			and performances. (...) Her performances sparkle with refreshing
			naturalness, the skills are superbly mastered, including a perfect
			dance technique.

		</q>
	</p>
	<p class="quote on-white">
		<q>
		…And all this with a wink and a crazy strong sense of humor, which
		Ursula Graber knows how to use masterfully.

		</q>
		(Mona May, artista, autora, creadora de teatro y danza)
	</p>
	<p class="quote on-white">
		<q>
			About Woman Hood:
...Graber examines the feminine and the masculine in this ravishingly
expressively danced solo and finds scratchy, self-confident femininity
beyond the usual images, which multiplies on the screen behind her:
complexity without fragmentation, what a great picture. The fact that
the performance is also fun is a big bonus point. 


		</q>
		(Ute Baumhackl, Kleine Zeitung)
	</p>




<div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/1-kleine-zeitung_neu_schon.jpg" title="" class="js-smartPhoto"
  data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/1-kleine-zeitung_neu_schon.jpg" />
</a>
</div>

<p>

<div class="long-center-image">
<a href="https://www.tanz.at/index.php/kritiken/kritiken-2021/2443-ursula-graber-woman-hood" title="" data-caption=""
	data-id="" data-group="">
	<img src="https://ursulagraber.files.wordpress.com/2021/06/womanhood_website.png" />
</a>
</div>

<p>

	{% include video-embed-responsive.html url='https://www.youtube.com/embed/macMcG5W6MU' %}

<p>

<div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/4-kronenzeitung-woman-hood.png" title="" class="js-smartPhoto"
  data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/4-kronenzeitung-woman-hood.png" />
</a>
</div>

<p>

<div class="long-center-image">
<a href="https://www.tanz.at/index.php/kritiken/kritiken-2020/2381-ursula-graber-starlight-killjoy-coquelicot" title=""
	data-caption="" data-id="" data-group="">
	<img src="https://ursulagraber.files.wordpress.com/2021/06/starlight_website.png" />
</a>
</div>

<p>

{% include video-embed-responsive.html url='https://www.youtube.com/embed/18vzOVDHxZc' %}

<p>


<div class="long-center-image">
<a href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4"
	title="" data-caption="" data-id="" data-group="">
	<img src="https://ursulagraber.files.wordpress.com/2021/07/kunstlerleben-portrait-foto_klicken.png" />
</a>
</div>

<p>



<div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/7-artikel-kleine-zeitung.jpg" title="" class="js-smartPhoto"
  data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/7-artikel-kleine-zeitung.jpg" />
</a>
</div>

<p>

 <div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/9-kleine-zeitung-ankundigung4.9.20.png" title=""
  class="js-smartPhoto" data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/9-kleine-zeitung-ankundigung4.9.20.png" />
</a>
</div>

 <p>

 <div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/10-kleine-zeitung-artikel-uber-dat-26.8.20.png" title=""
  class="js-smartPhoto" data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/10-kleine-zeitung-artikel-uber-dat-26.8.20.png" />
</a>
</div>

<p>


 <div class="center-image">
<a href="{{site.baseurl}}/docs/press/2020-08-26-11-steirerkrone-artikel-ueber-dat.png" title="" class="js-smartPhoto"
	data-caption="" data-id="" data-group="">
	<img src="{{site.baseurl}}/docs/press/2020-08-26-11-steirerkrone-artikel-ueber-dat.png" />
</a>
 </div>
