---
title: Contact
layout: fullpage

lang: es
ref: contact

first_image: https://ursulagraber.files.wordpress.com/2021/12/woman-hood-edi-haberl-80_38.jpg
---
<div id="top-container">
  <div class="flex-cols">
    <div id="top-image">
      <img src="{{ page.first_image }}" />
    </div>
    <div id="top-text">
    

      <h3>
        También me puedes encontrar aquí:
      </h3>

      {% include social-icons.html %}
    </div>
  </div>
</div>


{% include contact-form.html message="Escríbeme, ¡me encantará tener noticias tuyas!" %}

{% include js-photo.html %}
