---
title: Contact
layout: fullpage

lang: es
ref: contact

first_image: https://ursulagraber.files.wordpress.com/2021/12/woman-hood-edi-haberl-80_38.jpg
---
<div id="top-container">
<div class="flex-cols">
<div id="top-image">
	<img src="{{ page.first_image }}" />
</div>
<div id="top-text">
	<h2 style="padding-bottom: 0.5em; ">Ursula Graber</h2>
	{% if site.data.company_details.phone1 %}<a class="pairs" href="tel:{{ site.data.company_details.phone1 }}"><img
			class="paired-icon" src="/images/phone_black.png" />{{ site.data.company_details.phone1 }}</a><br> {%
	endif %}
	{% if site.data.company_details.phone2 %}<a class="pairs" href="tel:{{ site.data.company_details.phone2 }}"><img
			class="paired-icon" src="/images/phone_black.png" />{{ site.data.company_details.phone2 }}</a></p> {%
	endif %}
</div>
</div>
</div>


{% include contact-form.html message="Escríbeme, ¡me encantará tener noticias tuyas!" %}

{% include js-photo.html %}

<h2 class="tinted">PRENSA </h2>


<div class="ultra-container">
<div class="bottom-section">
<div class="bottom-text justify">
	<p class="quote on-white">
		<q>
			"...Este es también su lema en el escenario: sumergirse en
			la aventura y experimentar."

		</q>
		(Verena Schaupp, Kleine Zeitung)
	</p>
<p>
<h2 class="tinted"> "La capacidad de transformación de (...) Ursula Graber probablemente está
en los genes. (...) No es de extrañar que esta personalidad se presente en
este sólido trasfondo, pero teniendo en cuenta esa capacidad polifacética y
energía no son necesariamente algo natural."" -Eveline Koberg, crítica de danza
</h2 class="tinted">
</p>


<p>
"...Este es también su lema en el escenario: sumergirse en la aventura y
experimentar. -Verena Schaupp, Kleine Zeitung
</p>


<p>
"Rara vez he encontrado tanta despreocupación y curiosidad lúdica en una bailarina.
Por supuesto, esta alegría y deseo contrastan con el contenido al que se
dirige con valentía y valentía en sus obras y actuaciones escénicas. (...)
Sus actuaciones brillan con una naturalidad refrescante, las habilidades
de baile, incluida una técnica de baile perfecta, están excelentemente
dominadas."" -Mona May, bailarina, coreógrafa, directora, autora.
</p>


<p>
Acerca de Woman Hood: ...Graber examina el femenino y el masculino en este
solo bailado de una forma encantadora y expresiva y encuentra una feminidad
escalofriante y segura de sí misma más allá de las imágenes habituales,
que se multiplica en la pantalla detrás: complejidad sin fragmentación,
qué imagen mayor. El hecho de que la actuación sea también divertida es
una gran ventaja. -Ute Baumhackl, Kleine Zeitung
</p>



<div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/1-kleine-zeitung_neu_schon.jpg" title="" class="js-smartPhoto"
  data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/1-kleine-zeitung_neu_schon.jpg" />
</a>
</div>

<p>

<div class="long-center-image">
<a href="https://www.tanz.at/index.php/kritiken/kritiken-2021/2443-ursula-graber-woman-hood" title="" data-caption=""
	data-id="" data-group="">
	<img src="https://ursulagraber.files.wordpress.com/2021/06/womanhood_website.png" />
</a>
</div>

<p>

	{% include video-embed-responsive.html url='https://www.youtube.com/embed/macMcG5W6MU' %}

<p>

<div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/4-kronenzeitung-woman-hood.png" title="" class="js-smartPhoto"
  data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/4-kronenzeitung-woman-hood.png" />
</a>
</div>

<p>

<div class="long-center-image">
<a href="https://www.tanz.at/index.php/kritiken/kritiken-2020/2381-ursula-graber-starlight-killjoy-coquelicot" title=""
	data-caption="" data-id="" data-group="">
	<img src="https://ursulagraber.files.wordpress.com/2021/06/starlight_website.png" />
</a>
</div>

<p>

{% include video-embed-responsive.html url='https://www.youtube.com/embed/18vzOVDHxZc' %}

<p>


<div class="long-center-image">
<a href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4"
	title="" data-caption="" data-id="" data-group="">
	<img src="https://ursulagraber.files.wordpress.com/2021/07/kunstlerleben-portrait-foto_klicken.png" />
</a>
</div>

<p>



<div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/7-artikel-kleine-zeitung.jpg" title="" class="js-smartPhoto"
  data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/7-artikel-kleine-zeitung.jpg" />
</a>
</div>

<p>

 <div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/9-kleine-zeitung-ankundigung4.9.20.png" title=""
  class="js-smartPhoto" data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/9-kleine-zeitung-ankundigung4.9.20.png" />
</a>
</div>

 <p>

 <div class="long-center-image">
<a href="https://ursulagraber.files.wordpress.com/2021/06/10-kleine-zeitung-artikel-uber-dat-26.8.20.png" title=""
  class="js-smartPhoto" data-caption="" data-id="" data-group="">
  <img src="https://ursulagraber.files.wordpress.com/2021/06/10-kleine-zeitung-artikel-uber-dat-26.8.20.png" />
</a>
</div>

<p>


 <div class="center-image">
<a href="{{site.baseurl}}/docs/press/2020-08-26-11-steirerkrone-artikel-ueber-dat.png" title="" class="js-smartPhoto"
	data-caption="" data-id="" data-group="">
	<img src="{{site.baseurl}}/docs/press/2020-08-26-11-steirerkrone-artikel-ueber-dat.png" />
</a>
 </div>
