---
title: Contact
layout: fullpage

lang: es
ref: contact

first_image: https://ursulagraber.files.wordpress.com/2021/12/woman-hood-edi-haberl-80_38.jpg
---
<div id="top-container">
  <div class="flex-cols">
    <div id="top-image">
      <img src="{{ page.first_image }}" />
    </div>
    <div id="top-text">
      <h2 style="padding-bottom: 0.5em; ">Ursula Graber</h2>
      {% if site.data.company_details.email %}
        <a class="pairs" href="mail:{{ site.data.company_details.email }}">
          <img class="paired-icon" src="/images/mail.png" />{{ site.data.company_details.email }}
        </a><br>
      {% endif %}
      {% if site.data.company_details.phone1 %}
        <a class="pairs" href="tel:{{ site.data.company_details.phone1 }}">
          <img class="paired-icon" src="/images/phone_black.png" />{{ site.data.company_details.phone1 }}
        </a><br>
      {% endif %}
      {% if site.data.company_details.phone2 %}
        <a class="pairs" href="tel:{{ site.data.company_details.phone2 }}">
          <img class="paired-icon" src="/images/phone_black.png" />{{ site.data.company_details.phone2 }}
        </a></br>
      {% endif %}

      <h3>
        También me puedes encontrar aquí:
      </h3>

      {% include social-icons.html %}
    </div>
  </div>
</div>


{% include contact-form.html message="Escríbeme, ¡me encantará tener noticias tuyas!" %}

{% include js-photo.html %}
