---
title: Contact
layout: fullpage

lang: de
ref: contact

first_image: https://ursulagraber.files.wordpress.com/2021/12/woman-hood-edi-haberl-80_38.jpg
---
<div id="top-container">
	<div class="flex-cols">
		<div id="top-image">
			<img src="{{ page.first_image }}"/>
		</div>
			<div id="top-text">
				<h2 style="padding-bottom: 0.5em; ">Ursula Graber</h2>
				{% if site.data.company_details.email %}<a  class="pairs" href="mail:{{ site.data.company_details.email }}"><img class="paired-icon" src="/images/mail.png" />{{ site.data.company_details.email }}</a><br> {% endif %}
				{% if site.data.company_details.phone1 %}<a  class="pairs" href="tel:{{ site.data.company_details.phone1 }}"><img class="paired-icon" src="/images/phone_black.png" />{{ site.data.company_details.phone1 }}</a><br> {% endif %}
				{% if site.data.company_details.phone2 %}<a  class="pairs" href="tel:{{ site.data.company_details.phone2 }}"><img class="paired-icon" src="/images/phone_black.png" />{{ site.data.company_details.phone2 }}</a></> {% endif %}
			</div>
	</div>
</div>

</h2>

{% include contact-form.html message="Schreib mir, ich freu mich!" %}

{% include js-photo.html %}



<h2 class="tinted">
	Pressestimmen
</h2>

<div class="long-center-image">
	<a href="https://ursulagraber.files.wordpress.com/2021/11/kleine-zeitung-17.9.21-edited.png" title="" class="js-smartPhoto" data-caption="" data-id="" data-group="">
		<img src="https://ursulagraber.files.wordpress.com/2021/11/kleine-zeitung-17.9.21-edited.png"/>
	</a>
</div>


<br>


<div class="long-center-image">
	<a href="https://ursulagraber.files.wordpress.com/2021/11/kronenzeitung-17.9.21-edited.png" title="" class="js-smartPhoto" data-caption="" data-id="" data-group="">
		<img src="https://ursulagraber.files.wordpress.com/2021/11/kronenzeitung-17.9.21-edited.png"/>
	</a>
</div>

<br>


<iframe class="long-center-image"  src="https://cba.fro.at/495235/embed?audio&q=1&subscribe=true" width="50%" height="245" style="border:none; width:50%; height:245px;"></iframe>
<p>


<div class="long-center-image">
	<a href="https://ursulagraber.files.wordpress.com/2021/06/1-kleine-zeitung_neu_schon.jpg" title="" class="js-smartPhoto" data-caption="" data-id="" data-group="">
		<img src="https://ursulagraber.files.wordpress.com/2021/06/1-kleine-zeitung_neu_schon.jpg"/>
	</a>
</div>

<p>

	<div class="long-center-image">
	 	<a href="https://www.tanz.at/index.php/kritiken/kritiken-2021/2443-ursula-graber-woman-hood" title="" data-caption="" data-id="" data-group="">
	 		<img src="https://ursulagraber.files.wordpress.com/2021/06/womanhood_website.png"/>
	 	</a>
	 </div>

	  <p>

			  {% include video-embed-responsive.html url='https://www.youtube.com/embed/macMcG5W6MU' %}

		<p>

<div class="long-center-image">
	<a href="https://ursulagraber.files.wordpress.com/2021/06/4-kronenzeitung-woman-hood.png" title="" class="js-smartPhoto" data-caption="" data-id="" data-group="">
		<img src="https://ursulagraber.files.wordpress.com/2021/06/4-kronenzeitung-woman-hood.png"/>
	</a>
</div>

<p>

	<div class="long-center-image">
	 	<a href="https://www.tanz.at/index.php/kritiken/kritiken-2020/2381-ursula-graber-starlight-killjoy-coquelicot" title="" data-caption="" data-id="" data-group="">
	 		<img src="https://ursulagraber.files.wordpress.com/2021/12/ausschnitt-des-artikels-mit-hinweis-quadrat2.png"/>
	 	</a>
	 </div>

	 <p>

			 {% include video-embed-responsive.html url='https://www.youtube.com/embed/18vzOVDHxZc' %}

	 <p>


	 <div class="long-center-image">
	  <a href="http://kuenstler-leben.com/ursula-graber-die-magie-der-bewegung?fbclid=IwAR2TomgBov-b9F8LtlY4L70qz4veArlwK8isPLjCs3DcmdfNEq3O9VVFP_4" title="" data-caption="" data-id="" data-group="">
	 	 	<img src="https://ursulagraber.files.wordpress.com/2021/07/kunstlerleben-portrait-foto_klicken.png"/>
	 	 </a>
	 	</div>

	 	<p>



<div class="long-center-image">
	<a href="https://ursulagraber.files.wordpress.com/2021/06/7-artikel-kleine-zeitung.jpg" title="" class="js-smartPhoto" data-caption="" data-id="" data-group="">
		<img src="https://ursulagraber.files.wordpress.com/2021/06/7-artikel-kleine-zeitung.jpg"/>
	</a>
</div>

<p>

 <div class="long-center-image">
	 <a href="https://ursulagraber.files.wordpress.com/2021/06/9-kleine-zeitung-ankundigung4.9.20.png" title="" class="js-smartPhoto" data-caption="" data-id="" data-group="">
			<img src="https://ursulagraber.files.wordpress.com/2021/06/9-kleine-zeitung-ankundigung4.9.20.png"/>
		</a>
	</div>

 <p>

 <div class="long-center-image">
	 <a href="https://ursulagraber.files.wordpress.com/2021/06/10-kleine-zeitung-artikel-uber-dat-26.8.20.png" title="" class="js-smartPhoto" data-caption="" data-id="" data-group="">
	 		<img src="https://ursulagraber.files.wordpress.com/2021/06/10-kleine-zeitung-artikel-uber-dat-26.8.20.png"/>
	 	</a>
	 </div>

	<p>


 <div class="center-image">
 	 <a href="{{site.baseurl}}/docs/press/2020-08-26-11-steirerkrone-artikel-ueber-dat.png" title="" class="js-smartPhoto" data-caption="" data-id="" data-group="">
		 <img src="{{site.baseurl}}/docs/press/2020-08-26-11-steirerkrone-artikel-ueber-dat.png"/>
	 </a>
 </div>
