---
title: Contact
layout: fullpage

lang: en
ref: contact

first_image: https://ursulagraber.files.wordpress.com/2021/12/woman-hood-edi-haberl-80_38.jpg
---
<div id="top-container">
  <div class="flex-cols">
    <div id="top-image">
      <img src="{{ page.first_image }}" />
    </div>
    <div id="top-text">
  
      <h3>
        You can also find me here:
      </h3>
      {% include social-icons.html %}
    </div>
  </div>
</div>


{% include contact-form.html message="Contact me, I'm looking forward to hearing from you!" %}

{% include js-photo.html %}
