---
title: Vídeos y fotos
layout: big-gallery

lang: es
ref: gallery

published: true

performances:
  - title: Woman Hood, (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2021/02/c-edi-haberl-1_1.jpg
    data-group: performance
    data-tags:
  - title: Woman Hood, (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2021/02/mantel-halb-c-edi-haberl-4_1.jpg
    data-group: performance
    data-tags:
  - title: Woman Hood, (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2021/02/gesicht-verdeckt-c-edi-haberl-3_1.jpg
    data-group: performance
    data-tags:
  - title: Woman Hood, (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2021/02/haare-hoch-c-edi-haberl-5_1.jpg
    data-group: performance
    data-tags:
  - title: Woman Hood, (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2021/02/farfalla-mantel-c-edi-haberl-12_1.jpg
    data-group: performance
    data-tags:
  - title: Woman Hood, (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2021/02/elf-mantel-c-edi-haberl-11_1.jpg
    data-group: performance
    data-tags:
  - title: Woman Hood, (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2021/02/beine-umarmen-c-edi-haberl-8_1.jpg
    data-group: performance
    data-tags:
  - title: Woman Hood, (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2021/02/4-brueste-c-edi-haberl-7_1.jpg
    data-group: performance
    data-tags:
  - title: ORF Zentrum Küniglberg Wien, als Gast bei der Barbara Karlich Show, 2020. (c) Ursula Graber
    image: https://ursulagraber.files.wordpress.com/2020/10/orf-zentrum.jpg
    data-group: performance
    data-tags:
  - title: Starlight 'Killjoy' Coquelicot. (c) Clemens Nestroy
    image: https://ursulagraber.files.wordpress.com/2020/09/mg_5269.jpg
    data-group: performance
    data-tags:
  - title: Starlight 'Killjoy' Coquelicot. (c) Clemens Nestroy
    image: https://ursulagraber.files.wordpress.com/2020/09/mg_5558.jpg
    data-group: performance
    data-tags:
  - title: Starlight 'Killjoy' Coquelicot. (c) Clemens Nestroy
    image: https://ursulagraber.files.wordpress.com/2020/09/mg_5454.jpg
    data-group: performance
    data-tags:
  - title: Starlight 'Killjoy' Coquelicot. (c) Clemens Nestroy
    image: https://ursulagraber.files.wordpress.com/2020/09/mg_5091.jpg
    data-group: performance
    data-tags:
  - title: Workshop Sept 20. (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2020/10/foto-113.jpg
    data-group: performance
    data-tags:
  - title: Workshop Sept 20. (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2020/10/foto-20.jpg
    data-group: performance
    data-tags:
  - title: Workshop Sept 20. (c) Edi Haberl
    image: https://ursulagraber.files.wordpress.com/2020/10/foto-96.jpg
    data-group: performance
    data-tags:
  - title: It does matter where (Willi Dorner), Graz 2020. (c) Lisa Rastl
    image: https://ursulagraber.files.wordpress.com/2020/10/fb_09c2a9-lisa-rastl.jpg
    data-group: performance
    data-tags:
  - title: It does matter where (Willi Dorner), Graz 2020. (c) Lisa Rastl
    image: https://ursulagraber.files.wordpress.com/2020/10/fb_03c2a9-lisa-rastl..jpg
    data-group: performance
    data-tags:
  - title: It does matter where (Willi Dorner), Graz 2020. (c) Lisa Rastl
    image: https://ursulagraber.files.wordpress.com/2020/10/fb_05c2a9-lisa-rastl.jpg
    data-group: performance
    data-tags:
  - title: Geile Scheisse/Snowshoeing, Lausanne 2018. (c) Gregory Batardon
    image: https://ursulagraber.files.wordpress.com/2019/04/28471217_1661689367230218_2812298809659359232_o.jpg
    data-group: performance
    data-tags:
  - title: Geile Scheisse/Snowshoeing, Lausanne 2018. (c) Gregory Batardon
    image: https://ursulagraber.files.wordpress.com/2019/04/28660335_1661689227230232_7368354092386615296_o.jpg
    data-group: performance
    data-tags:
  - title: Video
    image: https://ursulagraber.files.wordpress.com/2019/04/28471217_1661689367230218_2812298809659359232_o.jpg
    data-group: performance
    data-tags:
    video: https://vimeo.com/330582854
    video_id: 330582854
  - title: Geile Scheisse/Snowshoeing, Lausanne 2018. (c) Gregory Batardon
    image: https://ursulagraber.files.wordpress.com/2019/04/28685596_1661689500563538_862267774762745856_o.jpg
    data-group: performance
    data-tags:
  - title: Portrait, 2019. (c) Maximilian Wührer
    image: https://ursulagraber.files.wordpress.com/2019/09/portrait_ursula-graber.jpg
    data-group: performance
    data-tags:
  - title: Impro, 2019. (c) Maximilian Wührer
    image: https://ursulagraber.files.wordpress.com/2020/04/move_ursulagraber.jpg
    data-group: performance
    data-tags:
  - title: Geile Scheisse/Snowshoeing, Lausanne 2018. (c) Gregory Batardon
    image: https://ursulagraber.files.wordpress.com/2019/04/28660526_1661689423896879_3458369617347477504_o.jpg
    data-group: performance
    data-tags:
  - title: Unterricht, Graz 2019. (c) Ursula Graber
    image: https://ursulagraber.files.wordpress.com/2020/04/superselfie.jpg
    data-group: performance
    data-tags:
  - title: Totem, Lausanne, Paris 2017. (c) Gregory Batardon
    image: https://ursulagraber.files.wordpress.com/2020/04/totem.png
    data-group: performance
    data-tags:
  - title: Tonit'e I will'e danc'e, Linz 2016. (c) Ursula Graber
    image: https://ursulagraber.files.wordpress.com/2020/04/tonite.png
    data-group: performance
    data-tags:
    video: https://vimeo.com/301889424
    video_id: 301889424
  - title: Bodies in urban spaces (Willi Dorner), 2019. (c) Konstantinos Tzivanopoulos
    image: https://ursulagraber.files.wordpress.com/2020/04/bodies-in-urban-spaces.jpg
    data-group: performance
    data-tags:
  - title: Totem, Lausanne, Paris 2017. (c) Gregory Batardon
    image: https://ursulagraber.files.wordpress.com/2020/04/totem.jpg
    data-group: performance
    data-tags:
  - title: Totem, Lausanne, Paris 2017. (c) Gregory Batardon
    image: https://ursulagraber.files.wordpress.com/2020/04/17038757_1309926282406530_5896639958045333217_o.jpg
    data-group: performance
    data-tags:
  - title: Trilogue, Mumuth Graz 2017. (c) Alexander Wenzel
    image: https://ursulagraber.files.wordpress.com/2020/04/trilogue_8.jpg
    data-group: performance
    data-tags:
  - title: Trilogue, Mumuth Graz 2017. (c) Alexander Wenzel
    image: https://ursulagraber.files.wordpress.com/2020/04/trilogue_5.jpg
    data-group: performance
    data-tags:
  - title: Sternschnuppen & Kometen, 2020. (c) Clemens Nestroy
    image: https://ursulagraber.files.wordpress.com/2020/04/sternschnuppen_clemens_nestroy_42.jpg
    data-group: performance
    data-tags:
  - title: Sternschnuppen & Kometen, 2020. (c) Clemens Nestroy
    image: https://ursulagraber.files.wordpress.com/2020/04/sternschnuppen_clemens_nestroy_35.jpg
    data-group: performance
    data-tags:
  - title: DA, 2020. (c) Walter Christopherus
    image: https://ursulagraber.files.wordpress.com/2020/04/ursula-graber-boden_walter-christopharo.jpg
    data-group: performance
    data-tags:
  - title: Totem Trailer
    image: https://ursulagraber.files.wordpress.com/2020/04/17038730_1309926322406526_3742290833211252186_o.jpg
    data-group: performance
    data-tags:
    video: https://vimeo.com/306702195
    video_id: 306702195

---


<div class="masonry-with-columns">
  {% for item in page.performances %}
    {% if item.video %}
      <div class="thumb-container">
        <a href="{{ item.image }}" title="{{ item.title }}" class="js-video-vimeo-btn" data-video-id="{{ item.video_id }}" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
          <img class="thumb" src="{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square" />
        </a>
        <a href="{{ item.image }}" class="play-overlay js-video-vimeo-btn raise" data-video-id="{{ item.video_id }}" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
        </a>
      </div>
    {% else %}
      <a href="{{ item.image }}" title="{{ item.title }}" class="js-smartPhoto" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
        <img src="{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square" />
      </a>
    {% endif %}
  {% endfor %}
</div>
