---
title: Videos & Fotos
layout: big-gallery

performances:
  - title: Geile Scheisse Stand-up
    image: https://ursulagraber.files.wordpress.com/2019/04/28471217_1661689367230218_2812298809659359232_o.jpg
    data-group: performance
    data-tags:
  - title: Geile Scheisse Kleine
    image: https://ursulagraber.files.wordpress.com/2019/04/28660335_1661689227230232_7368354092386615296_o.jpg
    data-group: performance
    data-tags:
  - title: El Video
    image: https://ursulagraber.files.wordpress.com/2019/04/28471217_1661689367230218_2812298809659359232_o.jpg
    data-group: performance
    data-tags:
    video: https://vimeo.com/330582854
    video_id: 330582854
  - title: Per Terra
    image: https://ursulagraber.files.wordpress.com/2019/04/28685596_1661689500563538_862267774762745856_o.jpg
    data-group: performance
    data-tags:
  - title: Portrait
    image: https://ursulagraber.files.wordpress.com/2019/09/portrait_ursula-graber.jpg
    data-group: performance
    data-tags:
  - title: Impro
    image: https://ursulagraber.files.wordpress.com/2020/04/move_ursulagraber.jpg
    data-group: performance
    data-tags:
  - title: Per terra Geile Scheisse
    image: https://ursulagraber.files.wordpress.com/2019/04/28660526_1661689423896879_3458369617347477504_o.jpg
    data-group: performance
    data-tags:
  - title: Unterricht
    image: https://ursulagraber.files.wordpress.com/2020/04/superselfie.jpg
    data-group: performance
    data-tags:
  - title: Totem
    image: https://ursulagraber.files.wordpress.com/2020/04/totem.png
    data-group: superworkshop
    data-tags:
  - title: Tonight
    image: https://ursulagraber.files.wordpress.com/2020/04/tonite.png
    data-group: performance
    data-tags:
    video: https://vimeo.com/301889424
    video_id: 301889424
  - title: Bodies in urban spaces
    image: https://ursulagraber.files.wordpress.com/2020/04/bodies-in-urban-spaces.jpg
    data-group: superworkshop
    data-tags:
  - title: Totem
    image: https://ursulagraber.files.wordpress.com/2020/04/totem.jpg
    data-group: superworkshop
    data-tags:
  - title: Totem hands
    image: https://ursulagraber.files.wordpress.com/2020/04/17038757_1309926282406530_5896639958045333217_o.jpg
    data-group: superworkshop
    data-tags:
  - title: Trilogue
    image: https://ursulagraber.files.wordpress.com/2020/04/trilogue_8.jpg
    data-group: superworkshop
    data-tags:
  - title: Trilogue leg
    image: https://ursulagraber.files.wordpress.com/2020/04/trilogue_5.jpg
    data-group: superworkshop
    data-tags:
  - title: Sternschnuppen
    image: https://ursulagraber.files.wordpress.com/2020/04/sternschnuppen_clemens_nestroy_42.jpg
    data-group: superworkshop
    data-tags:
  - title: Sternschnuppen
    image: https://ursulagraber.files.wordpress.com/2020/04/sternschnuppen_clemens_nestroy_35.jpg
    data-group: superworkshop
    data-tags:
  - title: DA
    image: https://ursulagraber.files.wordpress.com/2020/04/ursula-graber-boden_walter-christopharo.jpg
    data-group: superworkshop
    data-tags:
  - title: Totem Trailer
    image: https://ursulagraber.files.wordpress.com/2020/04/17038730_1309926322406526_3742290833211252186_o.jpg
    data-group: performance
    data-tags:
    video: https://vimeo.com/306702195
    video_id: 306702195



---


<div class="masonry-with-columns">
  {% for item in page.performances %}
    {% if item.video %}
      <div class="thumb-container">
        <a href="{{ item.image }}" title="{{ item.title }}" class="js-video-vimeo-btn" data-video-id="{{ item.video_id }}" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
          <img class="thumb" src="{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square" />
        </a>
        <a href="{{ item.image }}" class="play-overlay js-video-vimeo-btn raise" data-video-id="{{ item.video_id }}" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
        </a>
      </div>
    {% else %}
      <a href="{{ item.image }}" title="{{ item.title }}" class="js-smartPhoto" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
        <img src="{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square" />
      </a>
    {% endif %}
  {% endfor %}
</div>
