---
title: Videos & Fotos Gallery
layout: big-gallery

performances:
  - title: Geile Scheisse Stand-up
    image: https://ursulagraber.files.wordpress.com/2019/04/28471217_1661689367230218_2812298809659359232_o.jpg
    data-group: performance
    data-tags:
  - title: Per terra
    image: https://ursulagraber.files.wordpress.com/2019/04/28660335_1661689227230232_7368354092386615296_o.jpg
    data-group: performance
    data-tags:
  - title: El Video
    image: https://picsum.photos/500?random=1&w=560&h=940&fit=crop
    data-group: performance
    data-tags:
    video: https://vimeo.com/330582854
    video_id: 330582854
  - title: Per Terra
    image: https://ursulagraber.files.wordpress.com/2019/04/28685596_1661689500563538_862267774762745856_o.jpg
    data-group: performance
    data-tags:
  - title: Geile Scheisse Stand-up
    image: https://ursulagraber.files.wordpress.com/2019/04/28471217_1661689367230218_2812298809659359232_o.jpg
    data-group: performance
    data-tags:
  - title: Per terra
    image: https://ursulagraber.files.wordpress.com/2019/04/28660335_1661689227230232_7368354092386615296_o.jpg
    data-group: performance
    data-tags:
  - title: Per terra
    image: https://ursulagraber.files.wordpress.com/2019/04/28660526_1661689423896879_3458369617347477504_o.jpg
    data-group: performance
    data-tags:
  - title: Per Terra
    image: https://ursulagraber.files.wordpress.com/2019/04/28685596_1661689500563538_862267774762745856_o.jpg
    data-group: performance
    data-tags:

workshops:
  - title: Passeig Jump
    image: https://ursulagraber.files.wordpress.com/2017/08/email.jpg
    data-group: superworkshop
    data-tags:
  - title: Bon dia!
    image: https://picsum.photos/500?random=1&w=560&h=940&fit=crop
    data-group: superworkshop
    data-tags:
  - title: Bon migdia!
    image: https://picsum.photos/300/200?random=2&w=560&h=940&fit=crop
    data-group: superworkshop
    data-tags:
  - title: Bon tarda!
    image: https://picsum.photos/500?random=3&w=560&h=940&fit=crop
    data-group: superworkshop
    data-tags:
  - title: Bon vespre!
    image: https://picsum.photos/400/200?random=4&w=560&h=940&fit=crop
    data-group: superworkshop
    data-tags:
  - title: Bon nit!
    image: https://picsum.photos/500/200?random=5&w=560&h=940&fit=crop
    data-group: superworkshop
    data-tags:
  - title: A dormir!
    image: https://picsum.photos/500/700?random=5&w=560&h=200&fit=crop
    data-group: superworkshop
    data-tags:
---

<h2 style="color: black;"> Performances </h2>

<div class="masonry-with-columns">
  {% for item in page.performances %}
    {% if item.video %}
      <div class="thumb-container">
        <a href="{{ item.image }}" title="{{ item.title }}" class="js-video-vimeo-btn" data-video-id="{{ item.video_id }}" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
          <img class="thumb" src="{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square" />
        </a>
        <a href="{{ item.image }}" class="play-overlay js-video-vimeo-btn raise" data-video-id="{{ item.video_id }}" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
        </a>
      </div>
    {% else %}
      <a href="{{ item.image }}" title="{{ item.title }}" class="js-smartPhoto" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
        <img src="{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square" />
      </a>
    {% endif %}
  {% endfor %}
</div>

<h2 style="color: black;"> Workshops </h2>

<div class="masonry-with-columns">
  {% for item in page.workshops %}
  <a href="{{ item.image }}" title="{{ item.title }}" class="js-smartPhoto" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
    <img src="{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square" />
  </a>
  {% endfor %}
</div>
