---
layout: fullpage_calendar
title: Inici
lang: en
ref: index
---

<section>
  <div class="flexing greenblock-left">
    <div class="left-overflow-image">
      <a href="/about">
        <img src="https://ursulagraber.files.wordpress.com/2021/12/fotos2021_small.jpg" width=100% />
      </a>
    </div>
    <div class="right-column ">
      <a href="/about">
        <img class="ratio-image" src="/images/logo_top_white.svg" />
      </a>
      <div id="present-text">
        <h2>contemporary dancer
          <br>
          choreographer</h2>
          Tickets for Mental Muscle <a href=https://www.theaterland.at/2023/newsoffstyria-2.23/ursula-graber-hanna-rohn-mental-muscle.html">here (13.09.)</a> and <a href="https://shop.ticketteer.com/ursula_graber_contemporary_dancer_choreographer/e/evt_64e4705c64cf15001ed8955b">here (14.-17.09.)</a>
          <br>
          <a href="https://www.politik.steiermark.at/cms/beitrag/12890727/2494255/">Winner of the Morgenstern Prize 2022</a>
        <p>
          ---
        </p>

        <h2>AGENDA</h2>

        <ul>
          {% assign events = site.data.events | sort: "date" %}
          {% for event in events %}

          <li class="event" date="{{ event.date }}">
            <p>
              {% if event.end-date %}
                {{event.date | date: "%-d.%-m" }} - {{event.end-date | date: "%-d.%-m.%y" }}
              {% else %}
                {{event.date | date: "%-d.%-m.%y" }}
              {% endif %} - {{event.title}}
              <br>
              <span>
                <a href={{event.location-link}}>{{event.location}}</a>, {{event.country}}
              </span>
            </p>

          </li>

          {% endfor %}
        </ul>

        <h2>PAST EVENTS</h2>

        <ul>
          {% for event in events reversed %}

          <li class="event" date="{{ event.date }}" past="true">
            <p>
              {% if event.end-date %}
                {{event.date | date: "%-d.%-m" }} - {{event.end-date | date: "%-d.%-m.%y" }}
              {% else %}
                {{event.date | date: "%-d.%-m.%y" }}
              {% endif %} - {{event.title}}
              <br>
              <span>
                <a href={{event.location-link}}>{{event.location}}</a>, {{event.country}}
              </span>
            </p>
          </li>

          {% endfor %}
        </ul>

      </div>
      <div class="right-column">
        <p>

        </p>
      </div>
    </div>
  </div>
</section>
