---
layout: fullpage_calendar
title: Home
lang: de
ref: index
---

<section>
  <div class="flexing greenblock-left">
    <div class="left-overflow-image">
      <a href="/about">
        <img src="https://ursulagraber.files.wordpress.com/2021/12/fotos2021_small.jpg" width=100% />
      </a>
    </div>
    <div class="right-column">
      <a href="/about">
        <img class="ratio-image" src="/images/logo_top_white.svg" />
      </a>
      <div id="present-text">
        <h2>Zeitgenössische Tänzerin und Choreografin</h2>

        <p>
          ---
        </p>

          <h2> KALENDER:</h2>

          {% for event in site.data.events %}

          <li date="{{ event.date }}">{{event.date | date: "%-d.%-m.%y" }} - {{event.title}}, {{event.location}}
          </li>

          {% endfor %}

          <h2> VERGANGENE EVENTS:</h2>

          {% for event in site.data.events %}

          <li date="{{ event.date }}" past="true">{{event.date | date: "%-d.%-m.%y" }} - {{event.title}}, {{event.location}}
          </li>

          {% endfor %}

      </div>
      <div class="right-column">
        <p>

        </p>
      </div>
    </div>
  </div>
</section>