---
layout: fullpage_calendar
title: Home
lang: es
ref: index
---

<section>
  <div class="flexing greenblock-left">
    <div class="left-overflow-image">
      <a href="/about">
        <img src="https://ursulagraber.files.wordpress.com/2021/12/fotos2021_small.jpg" width=100% />
      </a>
    </div>
    <div class="right-column ">
      <a href="/about">
        <img class="ratio-image" src="/images/logo_top_white.svg" />
      </a>
      <div id="present-text">
        <h2>Bailarina contemporánea
          <br>
           Coreógrafa</h2>

           <a href="https://www.politik.steiermark.at/cms/beitrag/12890727/2494255/">Ganadora del Premio Morgenstern 2022</a>

        <p>
          <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1667901138&color=%23ce12de&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          <br>
          ---
        </p>


          <h2>AGENDA</h2>

          <ul>
            {% assign events = site.data.events | sort: "date" %}
            {% for event in events %}

            <li class="event" date="{{ event.date }}">
              <p>
                {% if event.end-date %}
                  {{event.date | date: "%-d.%-m" }} - {{event.end-date | date: "%-d.%-m.%y" }}
                {% else %}
                  {{event.date | date: "%-d.%-m.%y" }}
                {% endif %} - {{event.title}}
                <br>
                <span>
                  <a href={{event.location-link}}>{{event.location}}</a>, {{event.country}}
                </span>
              </p>

            </li>

            {% endfor %}
          </ul>

        <h2>EVENTOS PASADOS</h2>

        <ul>
          {% for event in events reversed %}

          <li class="event" date="{{ event.date }}" past="true">
            <p>
              {% if event.end-date %}
                {{event.date | date: "%-d.%-m" }} - {{event.end-date | date: "%-d.%-m.%y" }}
              {% else %}
                {{event.date | date: "%-d.%-m.%y" }}
              {% endif %} - {{event.title}}
              <br>
              <span>
                <a href={{event.location-link}}>{{event.location}}</a>, {{event.country}}
              </span>
            </p>
          </li>

          {% endfor %}
        </ul>

      </div>
      <div class="right-column">
        <p>

        </p>
      </div>
    </div>
  </div>
</section>
