---
title: Projects
layout: selector

featured:
    title: Scheisse
    url: https://ursulagraber.files.wordpress.com/2019/04/28660526_1661689423896879_3458369617347477504_o.jpg
    id: 366332635
    year: 2018
    author: Ursula Graber
    excerpt: Globular star cluster the ash of stellar alchemy from which we spring science prime number Rig Veda. Ship of the imagination the sky calls to us ship of the imagination great turbulent clouds not a sunrise but a galaxyrise white dwarf?

lean-direction:
  - 'lean-left'
  - 'lean-right'

shown-categories:
  - Solo
  - Group
---

<!-- TODO: use a carousel that fast-scrolls to selected thumbnail -->
<!-- selecting "solo" category for item in site.categories.Solo -->

{% for category in site.categories %}
{% if 'News' == category[0] %}
  <div class="flex-container {% cycle 'lean-left', 'lean-right' %}">
    <div class="element-container dark-color">
      <h2>{{ category[0] }}</h2>
      <div class="video-list-overview">
        <p>Klick auf das Bild und erfahre mehr darüber!</p>
        <div class="thumbnails-flex grow" id="thumb-selector">
          {% for item in category[1] %}
          <a href="#" name="{{ category[0] | cgi_escape }}{{ forloop.index0 }}" title="{{ item.title }}" class="js-smartPhoto" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="todo">
            <img src="{{ item.featured_image }}&w=300&h=300&output=jpg&q=50&t=square" />
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="element-container light-color big-flex" id="accordeon">
      {% for item in category[1] %}
      <dl class="element-centered" id="pnl-{{ category[0] | cgi_escape }}{{ forloop.index0 }}">
        <figure class="overview-feat-vid">
          <a href="{{ item.url }}" title="Go to {{ item.title }}">
            <img src="{{ item.featured_image }}" height="200px" alt="{{ item.title }}">
          </a>
        </figure>
        <div class="caption-container">
          <span class="caption-title">{{ item.title }}</span><br />
          <p>
          {{ item.brief }} <br />
          </p>
          <p>
            <a href="{{ item.url }}">Read more</a>
          </p>
        </div>
      </dl>
      {% endfor %}
    </div>
  </div>
  {% endif %}
{% endfor %}

{% for category in site.categories %}
{% if page.shown-categories contains category[0] %}
  <div class="flex-container {% cycle 'lean-left', 'lean-right' %}">
    <div class="element-container dark-color">
      <h2>{{ category[0] }}</h2>
      <div class="video-list-overview">
        <p>Schau’ dir die anderen Projekte an</p>
        <div class="thumbnails-flex grow" id="thumb-selector">
          {% for item in category[1] %}
          <a href="#" name="{{ category[0] | cgi_escape }}{{ forloop.index0 }}" title="{{ item.title }}" class="js-smartPhoto" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="todo">
            <img src="{{ item.featured_image }}&w=300&h=300&output=jpg&q=50&t=square" />
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="element-container light-color big-flex" id="accordeon">
      {% for item in category[1] %}
      <dl class="element-centered" id="pnl-{{ category[0] | cgi_escape }}{{ forloop.index0 }}">
        <figure class="overview-feat-vid">
          <a href="{{ item.url }}" title="Go to {{ item.title }}">
            <img src="{{ item.featured_image }}" height="200px" alt="{{ item.title }}">
          </a>
        </figure>
        <div class="caption-container">
          <span class="caption-title">{{ item.title }}</span><br />
          ({{ item.date | date: "%Y" }})<br />
          <p>
          {{ item.brief }} <br />
          </p>
          <p>
            <a href="{{ item.url }}">Read more</a>
          </p>
        </div>
      </dl>
      {% endfor %}
    </div>
  </div>
  {% endif %}
{% endfor %}
