---
title: Projects
layout: selector

lang: ca
ref: projects

featured:
    title: Scheisse
    url: https://ursulagraber.files.wordpress.com/2019/04/28660526_1661689423896879_3458369617347477504_o.jpg
    id: 366332635
    year: 2018
    author: Ursula Graber
    excerpt: Globular star cluster the ash of stellar alchemy from which we spring science prime number Rig Veda. Ship of the imagination the sky calls to us ship of the imagination great turbulent clouds not a sunrise but a galaxyrise white dwarf?

lean-direction:
  - 'lean-left'
  - 'lean-right'

shown-categories:
  - Solo
  - Group
---

<!-- TODO: use a carousel that fast-scrolls to selected thumbnail -->
<!-- selecting "solo" category for item in site.categories.Solo -->

<div class="element-container dark-color">
  <div class="masonry-performance">
    <h2>News</h2>
    {% assign items = site.categories.News | sort: "date" | reverse | where:"lang", page.lang %}
     {% for item in items %}
      <div class="thumbnail">
        <a href="{{ item.url }}" title="{{ item.title }}" class="js-smartPhoto" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
          <img src="{{ item.featured_image }}&w=300&h=300&output=jpg&q=50&t=square" />
          <p class="caption">
            {{ item.title }}
          </p>
       </a>
       </div>
     {%endfor%}
     <h2>Performances</h2>
     {% assign items = site.posts | sort: "date" | reverse | where:"lang", page.lang %}
      {% for item in items %}
          {% if item.categories contains page.shown-categories[0] or item.categories contains page.shown-categories[1] %}
           {% if item.video %}
             <div class="thumb-container">
               <a href="{{ item.url }}" title="{{ item.title }}" class="js-video-vimeo-btn" data-video-id="{{ item.video_id }}" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
                 <img class="thumb" src="{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square" />
               </a>
               <a href="{{ item.url }}" class="play-overlay js-video-vimeo-btn raise" data-video-id="{{ item.video_id }}" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
               </a>
             </div>
           {% else %}
           <div class="thumbnail">
             <a href="{{ item.url }}" title="{{ item.title }}" class="js-smartPhoto" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="{{ item.data-group }}">
               <img src="{{ item.featured_image }}&w=300&h=300&output=jpg&q=50&t=square" />
               <p class="caption">
                 {{ item.title }}
               </p>
            </a>
            </div>
           {% endif %}
       {% endif %}
     {% endfor %}
   </div>
</div>
