---
layout: selector
---

<div id="mygallery" class="gallery">
  <div class="images">
    <div class="active" style="background-image: url(https://picsum.photos/500?random=1&w=560&h=940&fit=crop)"></div>
    <div style="background-image: url(https://picsum.photos/500?random=2&w=560&h=940&fit=crop)"></div>
    <div style="background-image: url(https://picsum.photos/500?random=3&w=560&h=940&fit=crop)"></div>
    <div style="background-image: url(https://picsum.photos/500?random=4&w=560&h=940&fit=crop)"></div>
    <span class="left"></span>
    <span class="right"></span>
  </div>
  <div class="thumbs">
    <div class="active" style="background-image: url(https://picsum.photos/500?random=1&w=560&h=940&fit=crop)"></div>
    <div style="background-image: url(https://picsum.photos/500?random=2&w=560&h=940&fit=crop)"></div>
    <div style="background-image: url(https://picsum.photos/500?random=3&w=560&h=940&fit=crop)"></div>
    <div style="background-image: url(https://picsum.photos/500?random=4&w=560&h=940&fit=crop)"></div>
  </div>
</div>

{% for category in site.categories %}
  <div class="flex-container {% cycle 'lean-left', 'lean-right' %}">
    <div class="element-container dark-color">
      <h2>{{ category[0] }}</h2>
      <p>
      The only home we've ever known dream of the mind's eye the carbon in our apple
      pies how far away a very small stage in a vast cosmic arena Sea of
      Tranquility?
      </p>
      <div class="video-list-overview">
        <h3>Check the other projects</h3>
        <div class="thumbnails-flex">
          {% for item in category[1] %}
          <a href="{{ item.featured_image }}" title="{{ item.title }}" class="js-smartPhoto" data-caption="{{ item.title }}" data-id="{{ item.title }}" data-group="todo">
            <img src="{{ item.featured_image }}&w=300&h=300&output=jpg&q=50&t=square" />
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% assign featured_item = category[1][0] %}
    <div class="element-container light-color big-flex">
      <div class="element-centered">
        <figure class="overview-feat-vid">
          <a href="{{ featured_item.url }}" title="Go to {{ featured_item.title }}">
            <img src="{{ featured_item.featured_image }}" height="200px" alt="{{ featured_item.title }}">
          </a>
        </figure>
        <div class="caption-container">
          <span class="caption-title">{{ featured_item.title }}</span><br />
          ({{ featured_item.date | date: "%Y" }})<br />
          <p>
          A solo by {{ featured_item.author }} <br />
          {{ featured_item.brief }} <br />
          </p>
          <p>
            <a href="{{ featured_item.url }}">Read more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<div class="selector-container">
  <ul class="thumbnails">
    <li>
      <input type="radio" name="select" id="image1">
      <div class="item-hugger">
        <div class="title">Image 1</div>
        <img class="thumb-image" src="https://picsum.photos/500?random=1&w=560&h=940&fit=crop" />
        <label for="image1"></label>
      </div>
      <div class="selector-content">
        <div class="item-wrapper">
          <img src="https://picsum.photos/500?random=1&w=560&h=940&fit=crop">
          <div class="title">Image 1</div>
        </div>
      </div>
    </li>
    <li class="is-active">
      <input type="radio" name="select" id="image2" checked>
      <div class="item-hugger">
        <div class="title">Image 2</div>
        <img class="thumb-image" src="https://picsum.photos/500?random=2&w=560&h=940&fit=crop" />
        <label for="image2"></label>
      </div>
      <div class="selector-content">
        <div class="item-wrapper">
          <img src="https://picsum.photos/500?random=2&w=560&h=940&fit=crop" />
          <div class="title">Image 2</div>
        </div>
      </div>
    </li>
    <li>
      <input type="radio" name="select" id="image3">
      <div class="item-hugger">
        <div class="title">Image 3</div>
        <img class="thumb-image" src="https://picsum.photos/500?random=3&w=560&h=940&fit=crop" />
        <label for="image3"></label>
      </div>
      <div class="selector-content">
        <div class="item-wrapper">
          <img src="https://picsum.photos/500?random=3&w=560&h=940&fit=crop" />
          <div class="title">Image 3</div>
        </div>
      </div>
    </li>
    <li>
      <input type="radio" name="select" id="image4">
      <div class="item-hugger">
        <div class="title">Image 4</div>
        <img class="thumb-image" src="https://picsum.photos/500?random=4&w=560&h=940&fit=crop" />
        <label for="image4"></label>
      </div>
      <div class="selector-content">
        <div class="item-wrapper">
          <img src="https://picsum.photos/500?random=4&w=560&h=940&fit=crop" />
          <div class="title">Image 4</div>
        </div>
      </div>
    </li>
  </ul>
  <div class="white-box"></div>
</div>
