<div id="bottom-container">
    <div class="contact-form-block">
        <h2 class="contact-form-title">{{ include.message }}</h2>
        <div class="contact-form-container">
            <div class="wrap-contact3">
                <form class="contact3-form validate-form" method="POST" action="{{ site.contact_action }}">
                    <input type="hidden" name="_to" value="{{ site.data.email }}" />
                    <input type="text" name="_gotcha" style="display: none;">
                    <!-- <input type="text" name="slap_redirect" value="{{ site.url }}/thankyou" hidden> -->
                    <input type="hidden" name="_next"
                        value="{{ site.url }}/{{ site.data.dictionary[page.lang].thankyouurl }}" />

                    <div class="wrap-input3 validate-input" data-validate="{{ site.data.dictionary[page.lang].contactnamerequired }}">
                        <input class="input3" type="text" name="name" placeholder="{{ site.data.dictionary[page.lang].contactname }}">
                        <span class="focus-input3"></span>
                    </div>

                    <div class="wrap-input3 validate-input" data-validate="{{ site.data.dictionary[page.lang].contactmailrequired }}">
                        <input class="input3" type="email" name="email" placeholder="{{ site.data.dictionary[page.lang].contactmail }}">
                        <span class="focus-input3"></span>
                    </div>

                    <div class="wrap-input3 validate-input" data-validate="{{ site.data.dictionary[page.lang].contactmsgrequired }}">
                        <textarea class="input3" type="text" name="message"
                            placeholder="{{ site.data.dictionary[page.lang].contactmsg }}"></textarea>
                        <span class="focus-input3"></span>
                    </div>

                    <div class="container-contact3-form-btn">
                        <button class="contact3-form-btn" type="submit" value="Send">
                            {{ site.data.dictionary[page.lang].contactsend }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/contact-form.js"></script>
