<div id="bottom-container">
	<div class="contact-form-block">
		<h2 class="contact-form-title">{{ include.message }}</h2>
		<div class="contact-form-container">
			<div class="wrap-contact3">
				<form class="contact3-form validate-form" method="POST"
		action="{{ site.contact_action }}">
					<input type="hidden" name="_to" value="{{ site.data.email }}" />
					<input type="text" name="_gotcha" style="display: none;">
					<!-- <input type="text" name="slap_redirect" value="{{ site.url }}/thankyou" hidden> -->
					<input type="hidden" name="_next" value="{{ site.url }}/thankyou" />

					<div class="wrap-input3 validate-input" data-validate="Name is required">
						<input class="input3" type="text" name="name" placeholder="Your Name">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input3" type="email" name="_replyto" placeholder="Your Email">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Message is required">
						<textarea class="input3" type="text" name="message" placeholder="Your Message"></textarea>
						<span class="focus-input3"></span>
					</div>

					<div class="container-contact3-form-btn">
						<button class="contact3-form-btn" type="submit" value="Send">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
