.ultra-container
{
  width: 90%;
  margin-top: 100px;

  @media screen and #{$half-screen}
  {
  		width: auto;
  }
}

.super-container
{
  display: flex;
  justify-content: center;

  background: url(/images/pix-ff62f5.png);
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: left top;

  padding-bottom: 3em;
  //margin-bottom: -5em;

  @media screen and #{$half-screen}
  {
     background-size: 100% 100%;
     padding-bottom: 0;
  }
}


.top-image-container
{
  align-self: flex-end;
  margin-left: -10em;
  margin-top: -3em;
  margin-right: -20%;
  margin-bottom: auto;
  overflow: visible;
  width: 70%;
  z-index: 10;

  img {
    max-height: 50vh;
    object-fit: contain;
  }

  @media screen and #{$half-screen}
  {
     margin-right: 0%;
     overflow: hidden;
  }
}

.about-main-container
{
  width: 50%;
  z-index: 13;
  padding: 1em 1em 2em 1em;
  margin: 0;
  max-width: 600px;

  display: flex;
  flex-direction: column;

  color: white;

  a {
    color: white;
    font-weight: bold;
  }

  @media screen and #{$half-screen}
  {
     width: 90%;
  }
}

.superpad
{
  margin-left: auto;
  padding: 2em;
  padding-bottom: 5em;
}

.inline-icon
{
    width: 1em;
    display: inline;
    padding-right: 1ex;
}

.push-down
{
  margin-top: auto;
}

.about-bottom-container
{
  position:relative;
  margin-top: -5em;
  width: 100%;
}

.float-left
{
  float: left;
  margin: 0;
  padding: 0em 2em 1em 0;
  width: 20%;
  max-width: 40%;

  img {
    height: 300px;
  }

	@media screen and #{$half-screen}
	{
    img {
        height: 200px;
    }
	}
}

.side-image {
  width: 260px;
  object-fit: cover;
  overflow: hidden;
}

.bottom-section::after {
  content: "";
  clear: both;
  display: table;
}

.bottom-image-container
{
  overflow: hidden;

  //object-fit: cover;

  margin-top: 0em;
  margin-left: 0em;
  margin-right: 2.5em;
  width: 300px;
  height: 1000px;
}

.bottom-section
{
  width: 90%;

  @media screen and #{$half-screen}
  {
		width: auto;
  }
}

.clear-backcolor
{
  background-color: transparent;
}

.bottom-text
{
  overflow-x: visible;
  padding-right: auto;
}

#bottom-text-content
{
  background-color: white;

  padding-right: 1em;
  padding-left: 1em;
}
