
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pairs
{
  display: flex;
  align-items: center;
}

.paired-icon
{
  margin: 10px;
  width: 32px;
}

.pblock
{
  margin-top: 4em;
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  max-width: 50%;
  overflow: visible;

  @media screen and #{$half-screen}
  {
    max-width: none;
    padding: 1em 2em;
    overflow: auto;
  }
}

.fullpblock
{
  margin-top: 2em;
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  max-width: 100%;
  overflow: visible;
}

.light-color
{
  background-color: $theme-light-color;
}

.dark-color
{
  background-color: $theme-dark-color;
  color: white;
}

.fullblock
{
  margin: 3em;
  padding: 4em;
}

@media screen and #{$half-screen}
{
  .fullblock {
    padding: 10%;
    margin: 0;
  }
}

.leftbackbox
{
  position: absolute;
  background-color: $theme-light-color;
  margin-top: 2em;
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  max-width: 80%;
  width: 60%;
  min-width: 50vw;
  height: 12em;
}

.spaced-list
{
  list-style-type: none;
}

// simple blocks

.flex-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;

  width: 85%;

  @media screen and #{$half-screen}
  {
    width: 100%;
    flex-direction: column;
  }
}

.lean-left
{
  margin-right: auto;
}

.lean-right
{
  margin-left: auto;
  flex-direction: row-reverse;

  @media screen and #{$half-screen}
  {
    flex-direction: column;
  }
}

.element-container
{
  margin: 0;
  padding: 2% 4%;
  flex-basis: 34%;

  a {
    color: white;
    font-weight: bold;
  }
  img {
      object-fit: cover;
      min-width: 100px;
  }
}

.big-flex {
  flex-basis: 50%;
}

.element-centered
{
  margin: auto;
  text-align: center;

  div figure {
    display: inline;
  }
}

.overview-feat-vid
{
  height: 200px;
  overflow: hidden;

  img
  {
    display: inline;
  }
}

.video-list-overview
{
  padding: auto 0em 0em 0em;
  margin: 0;
}

.caption-container
{
  color: white;
}

.caption-title
{
  font-size: 1.2em;
  font-weight: bold;
}

.thumbnails-flex
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 1em -1em 1em -1em;

  img
  {
    width: 5em;
    height: 5em;
    margin: 3px;
    border: 2px solid black;

    object-fit: cover;

    &:hover {
      border: 2px solid $theme-light-color;
    }
  }
}

.justify {
  text-align: justify;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

// .grow img
// {
//   -webkit-transition: all 1s ease;
//      -moz-transition: all 1s ease;
//        -o-transition: all 1s ease;
//       -ms-transition: all 1s ease;
//           transition: all 1s ease;
//
//   &:hover {
//       width: 6em;
//       height: 6em;;
//   }
// }

// form

#top-container
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-cols
{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
    color: white;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }
}

#top-image {
  padding: 0;
  width: 40%;
  min-width: 200px;
  margin-left: 0;
  margin-right: 0;
  max-height: 700px;
  overflow: hidden;
  min-height: 12em;

  img
  {
    object-fit: cover;
    min-height: 12em;
  }

  @media screen and #{$half-screen}
  {
    width: 90%;
  }
}

#top-text {
  display: inline-block;
  margin-top: 2em;
  margin-left: 0;
  margin-bottom: 3em;
  padding: 1em 10vw 1em 10vw;
  background-color: $theme-light-color;
  text-align: center;

  @media screen and #{$half-screen}
  {
    width: 90%;
  }
}

.contact-form-title
{
  text-align: center;
  font-size: 1.8em;
}

#bottom-container
{
  width: 100%;
  display: block;
  align-content: right;
  margin-top: 2em;
  background: $theme-light-color-pixel;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: center right;
}

#bottom-image-container {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: -10em;
  width: 80%;
  max-height: 400px;
  object-fit: cover;

  img {
    margin-right: 0;
    margin-left: auto;
    padding-right: 0;
  }
}

.contact-form-block {
  background-image: url(https://ursulagraber.files.wordpress.com/2021/12/starlight-moving-strecthed-image3.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 80%;

  margin-left: auto;
  margin-right: 0;
  padding-top: 10em;
  width: 80%;

  .contact-form-container {
    max-width: 650px;
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 700px)
{
  .contact-form-block
  {
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 5em;

    background-position: 100% 10%;
    background-size: 100%;
  }
}

@media screen and (max-width: 320px)
{
  .contact-form-block
  {
    background-position: 100% 15%;
    background-size: 100%;
  }
}

.center-image
{
    margin: 0 auto;
    display: block;
    text-align: center;
}

figure#left {
    padding: 5px;
    width: 50%;
    max-height: 550px;
    float: left;
    background-color: $theme-darker-color;
    overflow: auto;
}

figure#right {
    margin-left: 1em;
    float: right;
    width: 40%;
    background-color: black;
}

.shift {
    background-position: right 2345px bottom;
}

.left-margin-auto {
  margin-left: auto;
}

/* change the padding-bottom to modify the aspect ratio */
.aspect-ratio {
  overflow: visible;

  position: relative;
  left: 30px;
  width: 100%;
  height: 0;
  padding-bottom: 70%;

  @media screen and #{$half-screen}
  {
    left: 0;
    overflow: hidden;
  }
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.column {
 float: left;
 width: 40%;

 @media screen and #{$half-screen}
 {
   width: auto;
   float: inherit;
 }
}

.row {

}

/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}

/* Gallery */

.image-gallery-index {
  overflow: auto;
  margin: 0;
}

.image-gallery-index a {
  float: left;
  display: block;
  padding: 1px;
  width: 100%;
  vertical-align: middle;
  text-decoration: none !important;
}

.image-gallery-index a img {
  width: 100%;
  display: block;
  vertical-align: middle;
}

// .image-gallery-index a span {
//   display: block;
//   text-align: center;
//   padding: 3px 0;
// }
.side-gallery {
  position: relative;
  right: 30px;
  width: 100%;
  margin-right: 0em;
  @media screen and #{$half-screen} {
    right: 0;
    justify-content: center;
  }
}

.cards {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media screen and #{$half-screen} {
    justify-content: center;
  }

  overflow: hidden;
  flex-direction: row;

  a {
    margin: 2px;
    border: 2px solid #000;
    //max-width: 10vw;
    //width: 150px;
  }

  img {
    object-fit: cover;
    height: 290px;
    width: 290px;
  }
}

.bigcards {
  flex-direction: column;
  height: 50vh;
  width: 80vw;
  background-color: green;

  vertical-align: left;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  //max-height: 100vh;
  overflow: hidden;

  a {
    margin: 2px;
    border: 2px solid #000;
    //max-width: 10vw;
    //width: 150px;
  }

  img {
     width: 100px;
     object-fit: cover;
     background-color: red;
   }
}

.masonry-with-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 0 1rem 1rem 0;
    width: 400px;
    flex: 0 0 auto;
  }

  .thumbnail {
      position: relative;
  }

  .caption-below {
      text-align: center;
      color: black;
      font-weight: bold;
      font-size: 2em;
      background: rgba(200, 200, 200, 0.5);
  }

  .caption {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.5);

    span {
      font-size: 0.7em;
      font-weight: normal;
      vertical-align: middle;
    }

    @media screen and #{$half-screen}
    {
      font-size: 1em;
    }
  }
}

.thumb-container {
    position: relative;
    display: inline-block;

    margin-bottom: -0.55rem; /*TODO: fix this misterious gap*/
}

.thumb {
    z-index: 9;
}

.thumb:hover {
  opacity: 0.8
}

.play-overlay {
    opacity: 0.8;
    background: url('http://wptf.com/wp-content/uploads/2014/05/play-button.png') center center / 60px 60px no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    z-index: 10;
}

.play-overlay:hover {
  opacity: 1;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.video-container-wrapper {
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    max-width: 640px;
    max-height: 352px;
    height: 100%;
  }
}

.center-image {
  padding: 0;
  width: 60%;
  min-width: 200px;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 700px;
  overflow: hidden;
  min-height: 12em;

  // img
  // {
  //   object-fit: cover;
  //   min-height: 12em;
  // }

  @media screen and #{$half-screen}
  {
    width: 90%;
  }
}


.long-center-image {
  padding: 0;
  width: 60%;
  min-width: 200px;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // max-height: 700px;
  overflow: hidden;
  min-height: 12em;

  // img
  // {
  //   object-fit: cover;
  //   min-height: 12em;
  // }

  @media screen and #{$half-screen}
  {
    width: 90%;
  }
}

li.event {
  p {
    text-align: left;
  }

  span {
      padding-left: 10%;
  }
}