
.pblock
{
	background-color: #39d3cb;
	margin-top: 2em;
	padding: 1em;
	padding-left: 4em;
	padding-right: 4em;
	max-width: 50%;
	overflow: visible;
}

iframe.feat_vid {
	width: 100%;
	height: 100%;
	background-color: red;
}

figure#left {
	  padding: 5px;
    width: 50%;
		max-height: 550px;
		float: left;
    background-color: red;
		overflow: auto;
}

figure#right {
		margin-left: 1em;
	  float: right;
	  width: 40%;
    background-color: black;
}

.shift {
		background-position: right 2345px bottom;
}

/* change the padding-bottom to modify the aspect ratio */
.aspect-ratio {
	overflow: visible;

	position: relative;
	left: 30px;
	width: 100%; /*50%;*/
	height: 0;
	margin: 3em;
	margin-left: 0em;
	padding-bottom: 70%;
	/*float: left;*/
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.column {
 float: left;
 width: 40%;
}

row {
	max-width: 100px;
}
/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}

/* Gallery */

.image-gallery-index {
	overflow: auto;
	margin: 0;
}

.image-gallery-index a {
	float: left;
	display: block;
	padding: 1px;
	width: 100px;//44%;
	height: 100%;
  vertical-align: middle;
	text-decoration: none !important;
}

.image-gallery-index a img {
	width: 100%;
	display: block;
  vertical-align: middle;
}

// .image-gallery-index a span {
// 	display: block;
// 	text-align: center;
// 	padding: 3px 0;
// }
