html {
	height:100%;
}

html , body {
	padding: 0;
	margin: 0;
	line-height: 1.8em;
	background-color: #FFFFFF;
	overflow-x: hidden;
}

body {
	position: relative;
	min-height:100%;
}

/* footer phantom block */
body::after {
	content:'';
	display:block;
	height:150px;
}

body, input, textarea {
	font-family: 'Open Sans', sans-serif;
	color: #222;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 1.8em;
	margin: 0;
	padding: 0;
	line-height: 1.3em;

		max-width: 100%;

	// .full-width-tinted {
		position: relative; /* child absolute */
		margin: 0;
		/* add back section padding value */
		padding: 2rem 0rem;
		//background: rgba(0, 0, 0,  0.25);
		color: white;
		font-size: 1.8rem;
		z-index: 0;
	// }
}

//.full-width-tinted:before {
h1:before {
  content: "";
  position: absolute;
  z-index: -1; /* behind parent */
  top: 0;
  bottom: 0;
	/* set a ridiculous value */
  left: -9600rem;
  right: 0rem;
  background: #39d3cb;
}

h2 {
	font-size: 1.6em;
	color: white;
}

.region {
	width: 100%;
	padding: 1rem;
	margin: 0;

	div {
		margin: 1rem auto;
		padding: 1rem;
		background: lightgreen; //#39d3cb;

    display: table-cell;
		table-layout: fixed;
	}
}

time {
	color: $light-grey;
}

header {
	text-align: center;
	padding: 80px 0 60px 0;
}

img {
	max-width: 100%;
}

ol li + li {
	margin: 20px 0 0 0;
}

footer {
	color: $light-grey;
	text-align: center;
	padding: 20px 0;
	font-size: .8em;

	position: absolute;
  bottom:0;
  width:100%;
  height:100px;
}


hr {
	 border: 0;
	 border-top: 1px solid #eee;
}

a {
	text-decoration: none;
	color: #007eff;
}
