
.pblock
{
	background: lightgreen;
}


figure#left {
	  padding: 5px;
    width: 40%;
		float: left;
    background-color: red;
}

figure#right {
		margin-left: 1em;
	  float: right;
	  width: 40%;
    background-color: black;
}
