
.flexing
{
	display: flex;
	flex-wrap: wrap-reverse;

	@media screen and #{$half-screen}
	{
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

.right-column
{
	margin: 4%;
	padding: 4%;
	flex-basis: 35%;
	@media screen and #{$half-screen}
	{
		margin: 5% 5% 0% 5%;
		flex-basis: auto;
	}
}

.left-overflow-image
{
  flex-basis: 30%;
	margin: 0;
	margin-left: 12%;
	@media screen and #{$half-screen}
	{
		width: 80%;
		margin: auto;
		padding-bottom: 2em;
		flex-basis: auto;
		order: 2;
	}
}

.greenblock-left
{
	margin-top: 1em;
	margin-left: 0;
	padding: 0;

	background: url(/images/pix-ff62f5.png);
	background-repeat: no-repeat;
	background-size: 94% 80%;
	background-position: center right;

	@media screen and #{$half-screen}
	{
		 background-size: 100% 100%;
	}
}

.ratio-image
{
	display: block;
	width: 65%;
	margin: auto;
	padding: 1em;
}

#present-text
{
	color: white;
	text-align: left;

	@media screen and #{$half-screen}
	{
			text-align: center;
	}
}
