
.flexing
{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.vflexing
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.right-column
{
	margin: 2em 2em 0em 4em;
	width: 50%;
	max-width: 40em;
}

.left-overflow-image
{
	width: 30%;
	padding-left: 10%;
	margin: 0;
	margin-left: 4em;
}

.greenblock-left
{
	margin-top: 5em;
	margin-left: 0;
	padding: 0;

	background: url(/images/pix-519b98.png);
	background-repeat: no-repeat;
	background-size: 92% 80%;
	background-position: center right;
}

// .greenblock-left
// {
// 	background-color: $theme-dark-color;
// 	margin: auto;
// 	margin-left: 0%;
// 	padding: 1em;
// 	padding-left: 4em;
// 	padding-right: 4em;
// 	overflow: visible;
// }

.ratio-image
{
	display: block;
	width: 40%;
	margin-top: 3em;
	//margin-bottom: auto;
}

#present-text
{
	padding-top: 2em;
	padding-bottom: 3em;
	margin-bottom: 5em;
}
