.container {
	max-width: 1100px;
	margin: 0 auto;
}

.main-content {
	@media #{$desktop} {
		display: flex;
	}
	margin: 0 30px 0 30px;
}

.content {
	@media #{$desktop} {
		flex: 1;
	}
	//content centered
	display: table;
  margin: auto;
}

.page {
	@media #{$desktop} {
		display: flex;
	}
	margin: 10px;
	padding: 10px;
}

footer
{
	background-color: black;
}
