.navmenu {
  box-sizing: border-box;
	padding: 10px 15px;
	display: table;
	width: 100%;
	table-layout: fixed;
	height: 70px;

	div {
	    display: table-cell;
	}

	.container {
		vertical-align: middle;
		width: 70%;
	}

  nav {
		background: rgba(255, 255, 255, .9);
	  z-index: 999;
		display: table;
		table-layout: fixed;

	  .menu {
	    width: 90%;
			height: 50px;
	    display: flex;
	    justify-content: center;
			padding: 0px 3px;
	  }

		a {
			display: inline-block;
			text-decoration: none;
			padding: 0px 20px;
			padding-left: 0px;
			color: #444;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.4em;

      font-family: $navigation-font;

			&.active {
				color: #888;
			}

			&:hover {
				color: #000;
			}
		}
	}

	.logo {
			width: 100px;
			vertical-align: middle;
	}

  .logo-bottom {
			width: 120px;
      height: 100px;
      vertical-align: middle;
	}

	hr {
			display: block;
			height: 2px;
			margin: 0px;
			margin-left: 0px;
			background: rgba(57, 211, 203, .9);
			width: 100%;
	}

	.fullmenu {
		width: 100%;
		margin: 1em;
		padding: 1em;
    padding-right: 155px;
		vertical-align: middle;
	}

	.social-icons {
		width: 150px;
		height: 50px;
		display: flex;
		margin: -5px 0 0 -150px;

    vertical-align: top;

		a {
			padding: 3px;
			text-decoration: none;

			&:hover svg {
				fill: #000;
			}
		}

		svg {
			width: 25px;
			height: 25px;
			fill: $light-grey;
		}
	}
}

//
// nav {
//   background: rgba(255, 255, 255, .9);
//   z-index: 999;
// 	display: table;
// 	table-layout: fixed;
//
// 	.logo {
// 		width: 10 px;
// 	}
//
//   .menu {
//     width: 90%;
// 		height: 10px;
//     display: flex;
//     justify-content: center;
// 		padding: 0px 3px;
//
//     a {
//       display: inline-block;
//       text-decoration: none;
//       padding: 0px 15px;
//       color: #444;
//       text-transform: uppercase;
//       letter-spacing: 1px;
//       font-size: .9em;
//
//       &.active {
//         color: #888;
//       }
//
//       &:hover {
//         color: #000;
//       }
//     }
//   }
//
//   hr {
// 	    display: block;
// 	    height: 1px;
// 	    border: 1px solid #888;
// 			margin: 1em auto;
// 			margin-left: 100px;
// 	    padding: 0px;
// 			background: rgba(122, 122, 255, .9);
// 			width: 90%;
// 	}
// }
