.navmenu {
  box-sizing: border-box;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  width: 100%;

  div {
    display: table-cell;
  }

  .container {
    vertical-align: middle;
    width: 70%;
  }

  nav {
    background: rgba(255, 255, 255, .9);
    z-index: 999;
    display: flex;

    .menu {
      width: 100%;
      height: 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 3px;
    }

    a {
      // display: inline-block;
      text-decoration: none;
      padding: 0px 0px;
      padding-left: 0px;
      color: #444;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.4em;

      font-family: $navigation-font;

      &.active {
        color: #888;
      }

      &:hover {
        color: #000;
      }
    }

    .en:lang(en), .ca:lang(ca), .de:lang(de) {
        font-weight: bold;
        color: $theme-dark-color;
    }
  }

  @media screen and #{$half-screen}
  {
    nav.menu
    {
      flex-direction: column;
      justify-content: center;
    }
  }

  #menu-items
  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 1em;
    padding-right: 1em;

    flex: 0 2 auto;

    a
    {
      text-align: center;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    @media screen and #{$half-screen}
    {
      //vertical menu
      //flex-direction: column;
    }
  }

  #newsletter-menu
  {
    padding: 0 1em 0.5em 1em;

    flex: 1 1 auto;

    form
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .logo {
    width: $logo-width;
    vertical-align: middle;

    @media screen and #{$half-screen}
    {
      display: none;
    }
  }

  .logo-half
  {
    width: 100%;
    max-width: 200px;
    display: none;
    margin-left: auto;
    margin-right: auto;

    @media screen and #{$half-screen}
    {
      display: block;
    }
  }

  hr {
    display: block;
    height: 2px;
    margin: 0px;
    margin-left: 0px;
    background: $theme-nav-underline;
    width: 100%;
  }

  .inner-menu {
    display: flex;
  }

  .fullmenu {
    width: 80%;
    margin: 1em;
    padding: 1em;
    padding-right: 1em;
    vertical-align: middle;
  }

  .social-icons {
    width: 150px;
    height: 50px;
    display: flex;
    margin: -5px 0 0 0;

    vertical-align: top;

    a {
      padding: 3px;
      text-decoration: none;

      &:hover svg {
        fill: #000;
      }
    }

    svg {
      width: 25px;
      height: 25px;
      fill: $light-grey;
    }
  }
}
