.region {
	width: 100%;
	padding: 1rem;
	margin: 0;

	div {
		margin: 1rem auto;
		padding: 1rem;
		background: lightgreen; //#39d3cb;
	}

	img {
		z-index: -1;
		overflow: visible;

		vertical-align: top;
	}
}

.ontop {
	z-index: 100;
	margin: 0;
	margin-left: -100rem;
	padding: 2rem;
	padding-left: 103rem;
	background-color: lightgreen;
	color: white;

	img {
		z-index: -1;
		overflow: visible;

		vertical-align: top;
	}
}

.columns {
	width: 100%;
	padding: 1rem;
	margin: 0;
  box-sizing: border-box;

	display: table;
	table-layout: fixed;

	vertical-align: middle;

	img {
	  display: inline-block;

		width: 30%;
		padding: 1rem;
		background: lightyellow;
		position: relative;

		vertical-align: top;
	}

	div {
		display: table-cell;
	  width: 50%;
		margin: 1rem auto;
		padding: 1rem;
		background: lightblue; //#39d3cb;
	}
}

.ontop-container {
  position: relative;
	height: 400px;
	width: 100%;
  color: white;
}

.back-square {
	z-index: 0;
	position: absolute;
	padding: 0;
	margin-left: -50px;
	width: 100%;
	max-width: 800px;
	height: 500px;
	background-color: #39d3cb;
}

.ontop-text {
	z-index: 100;
	padding: 30px;
	position: absolute;
	color: white;
	left: 10px;
	width: 50%;
}

.ontop-image {
	z-index: 1;
	position: absolute;
	padding: 20px;
	left: 50%;
	top: -50px;
	// width: 50%;
	width: 500px;
}

.saytop {
	z-index: 1;
}
