// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 650px)";
$desktop: "(min-width: 900px)";

$half-screen: "(max-width: 650px)";

$light-grey: #515151;

$theme-light-color: #FF00FF ;
$theme-dark-color: #FF1493;
$theme-darker-color: #FF1493;
$theme-nav-underline: rgba(216, 174, 212, 0.9);
$theme-dark-color-pixel: url(/images/pix-dark-theme-color.png);
$theme-light-color-pixel: url(/images/pix-light-theme-color.png);

$logo-width: 100px;

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Heebo:900|Amatic+SC:700|Open+Sans:400,400i,700&display=swap');

// Font Variables
$navigation-font: 'Amatic SC', serif;
$header-font: 'Heebo', 'Open Sans', sans-serif;
$main-content-font: 'Open Sans', sans-serif;

$underline-color: tomato;
