// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 650px)";
$desktop: "(min-width: 900px)";

$half-screen: "(max-width: 650px)";

$light-grey: #515151;

$theme-light-color: #ff29f1 ;
$theme-dark-color: #ff29f1;
$theme-darker-color: #3b444b;
$theme-nav-underline: rgba(255, 41, 241, 1);
$theme-dark-color-pixel: url(/images/pix-dark-theme-color.png);
$theme-light-color-pixel: url(/images/pix-light-theme-color.png);

$logo-width: 100px;

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400|Amatic+SC:700|Open+Sans:400,400i,700&display=swap');

// Font Variables
$navigation-font: 'Amatic SC', serif;
$header-font: 'PT Sans Narrow', 'Open Sans', sans-serif;
$main-content-font: 'PT Sans Narrow', sans-serif;

$underline-color: tomato;
