---
layout: default
---

<div class="fullblock dark-color justify">
  {{ content }}


  {% if site.contact_action and site.contact != "" %}
  			<div class="wrap-contact3">
  				<form class="contact3-form validate-form" method="POST"
  		action="{{ site.contact_action }}">
  					<input type="hidden" name="_to" value="{{ site.data.email }}" />
  					<input type="text" name="_gotcha" style="display: none;">
  					<!-- <input type="text" name="slap_redirect" value="{{ site.url }}/thankyou" hidden> -->
  					<input type="hidden" name="_next" value="{{ site.url }}/thankyou" />
            <input type="hidden" name="reason" value="Online Tanztraining buchen">

  					<div class="wrap-input3 validate-input" data-validate="Name is required">
  						<input class="input3" type="text" name="name" placeholder="Dein Name">
  						<span class="focus-input3"></span>
  					</div>

  					<div class="wrap-input3 validate-input" data-validate="Valid email is required: ex@abc.xyz">
  						<input class="input3" type="email" name="_replyto" placeholder="Deine Email-Adresse">
  						<span class="focus-input3"></span>
  					</div>

  					<div class="wrap-input3 validate-input" data-validate="Message is required">
  						<textarea class="input3" type="text" name="message" placeholder="Deine Nachricht">
Ja, ich will das Online-Tanztraining buchen.
Bitte schreib mir, was die nächsten Schritte sind!
              </textarea>
  						<span class="focus-input3"></span>
  					</div>

  					<div class="container-contact3-form-btn">
  						<button class="contact3-form-btn" type="submit" value="Send">
  							Senden
  						</button>
  					</div>
  				</form>
  			</div>
  </div>

  {% endif %}

</div>
<div>
{% if page.galleries %}
  <h2 class="tinted"> Galerie <h2>
  {% include image-gallery-index.html %}
{% endif %}
</div>
<div class="sharing">
	{% assign share_url = page.url | absolute_url | cgi_escape %}
	<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">{% include social-icon.html icon="Facebook" %}</a>
	<a class="twitter" href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=Das%20interessiert%20mich%2C%20da%20gehe%20ich%20hin!">{% include social-icon.html icon="Twitter" %}</a>
	<a class="google-plus" href="https://plus.google.com/share?url={{ share_url }}">{% include social-icon.html icon="Google Plus" %}</a>
	<a class="pinterest" href="//pinterest.com/pin/create/link/?url={{ share_url }}&amp;description={{ page.description }}">{% include social-icon.html icon="Pinterest" %}</a>
	<a class="email" href="mailto:?subject=Ich%20habe%20ein%20tolles%20Event%20gefunden&amp;body=Schau%20es%20dir%20an%20-%20{{ share_url }}">{% include social-icon.html icon="Email" %}</a>
</div>
<div class="cta">
	<h2 style="color: black;">Noch mehr Workshops</h2>
	<p>Das ist einer von vielen Workshops, die hier zu finden sind</p>
	<div class="button"><a class="a-on-white" href="/workshops">Schau dir auch die anderen Workshops an</a></div>
</div>
