<!doctype html>

<html lang="{{ page.lang }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="//fonts.googleapis.com/css?family=Heebo|Amatic+SC|Open+Sans" rel="stylesheet">
<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">


<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/test.css">

</head>

<body>
{% include navigation.html %}

{{ content }}

</body>
</html>


<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="{{ site.url }}/js/test.js"></script>
